div.tableFilter {
	margin-bottom:15px;
}

table.list {
	width:637px;
	border-collapse:collapse;
	font-family:tahoma, arial, sans serif;
}

table.list thead td {
	font-weight:bold;
	background-color:#1E3550;
	color:#FFFFFF;
	font-size:13px;
	padding-left:3px;
	padding-top:5px;
	padding-bottom:5px;
}

table.list tbody tr {
	height:25px;
	border-bottom:1px solid #537FC3;
	background-color:#DEE6F3;
}

table.list tbody tr:hover {
	background-color:#FFFFFF;
}

table.list tbody td {
	padding-left:3px;
}

#buttonNew:link,
#buttonNew:visited {
	display:block;
	width:150px;
	height:20px;
	border:1px solid #FFFFFF;
	margin-top:10px;
	padding-left:5px;
	padding-top:3px;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#1E3550;
	font-weight:bold;
	font-size:14px;
}

#buttonNew:hover {
	border:1px solid #FFF000;
	color:#FFF000;
}

/** PAGINATION **/
.pagination {
	margin-top:10px;
}

.pagination .text {
}

.pagination .paginationLeftBorder {
}

.pagination .div.thisPage {
}

.pagination .div.otherPage {
}

.pagination .div.otherPage:hover {
}

.pagination .paginationRightBorder {

}