@import url("_menu.css");
@import url("_table.css");
@charset "utf-8";
/* CSS Document */
@import "navi.css";
@import "forms.css";
@import "tables.css";
@import "homepage.css";
@import "gallery.css";
@import "portfolio.css";
@import "featured_slide.css";
body {
    background-color: #c8cccf;
    color: #333333;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
    margin: 0;
    padding: 0;
}
.justify {
    text-align: justify;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.nostart {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.clear::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clear {
    display: inline-block;
}
html[xmlns] .clear {
    display: block;
}
* html .clear {
    height: 1%;
}
a {
    outline: medium none;
    text-decoration: none;
}
.fl_left {
    float: left;
}
.fl_right {
    float: right;
}
.imgholder, .imgl, .imgr {
    border: 1px solid #d8d8d8;
    padding: 4px;
    text-align: center;
}
.imgl {
    clear: left;
    float: left;
    margin: 0 15px 15px 0;
}
.imgr {
    clear: right;
    float: right;
    margin: 0 0 15px 15px;
}
div.wrapper {
    display: block;
    text-align: left;
    width: 100%;
}
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6 {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 15px;
    padding: 0;
}
.row1 {
    background-color: #fce276;
    color: #ebeced;
}
.row2, .row2 a {
    background-color: #ffffff;
    color: #d55362;
}
.row3 {
    background: #e0e0e0 url("../images/featured_bg.gif") repeat-x scroll left bottom;
    color: #666666;
    padding-top: 30px;
}
.row4 {
    background: rgba(0, 0, 0, 0) url("../images/quicknav_bg.gif") repeat-x scroll left top;
    border-bottom: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
}
.row5 {
    background-color: #ebedee;
    color: #848c92;
}
.row5 a {
    background-color: #ebedee;
    color: #179cff;
}
#header, #container, #academiclinks, #footer {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
#header {
    padding: 0 0 30px;
}
#header h1, #header p, #header ul {
    line-height: normal;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#header h1 {
    font-size: 32px;
    font-variant: small-caps;
}
#header p {
    font-size: 12px;
}
#header .fl_left {
    margin-top: 30px;
}
#header .fl_left p {
    margin-top: 4px;
}
#header .fl_right p {
    text-align: center;
}
#container {
    padding: 30px 0;
}
#container h1, #container h2, #container h3, #container h4, #container h5, #container h6 {
    background-color: #ebedee;
    border-bottom: 1px solid #d8d8d8;
    color: #606b72;
    margin: 0 0 15px;
    padding: 0 0 10px;
}
#container .title {
}
#container .readmore {
    display: block;
    text-align: right;
    width: 100%;
}
#content {
    display: block;
    float: left;
    width: 630px;
}
#comments {
    margin-bottom: 40px;
}
#comments .commentlist {
    margin: 0;
    padding: 0;
}
#comments .commentlist ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even {
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 15px;
}
#comments .commentlist li.comment_odd {
    background-color: #f7f7f7;
    color: #666666;
}
#comments .commentlist li.comment_odd a {
    background-color: #f7f7f7;
    color: #179cff;
}
#comments .commentlist li.comment_even {
    background-color: #e8e8e8;
    color: #666666;
}
#comments .commentlist li.comment_even a {
    background-color: #e8e8e8;
    color: #179cff;
}
#comments .commentlist .author .name {
    font-weight: bold;
}
#comments .commentlist .submitdate {
    font-size: smaller;
}
#comments .commentlist p {
    font-weight: normal;
    margin: 10px 5px 10px 0;
    padding: 0;
    text-transform: none;
}
#comments .commentlist li .avatar {
    border: 1px solid #eeeeee;
    float: right;
    margin: 0 0 0 10px;
}
#column {
    display: block;
    float: right;
    width: 300px;
}
#column .holder, #column #featured {
    display: block;
    margin-bottom: 20px;
    width: 300px;
}
#column .holder h2.title {
    border-bottom: 1px dotted #999999;
    display: block;
    font-size: 20px;
    height: 65px;
    line-height: normal;
    margin: 0;
    padding: 15px 0 0;
    text-transform: none;
    width: 100%;
}
#column .holder h2.title img {
    border: 1px solid #999999;
    float: left;
    margin: -15px 8px 0 0;
    padding: 5px;
}
#column div.imgholder {
    display: block;
    margin: 0 0 10px;
    width: 290px;
}
#column .holder p.readmore {
    display: block;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    width: 100%;
}
#column #featured ul, #column #featured h2, #column #featured p {
    background-color: #f7f7f7;
    color: #666666;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#column #featured a {
    background-color: #f7f7f7;
    color: #179cff;
}
#column #featured li {
    background-color: #f7f7f7;
    color: #666666;
    display: block;
    margin: 0;
    padding: 20px 25px;
    width: 250px;
}
#column #featured li p.imgholder {
    display: block;
    height: 90px;
    margin: 20px 0 15px;
    width: 240px;
}
#column #featured li h2 {
    border-bottom: 1px dotted #999999;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 0 8px;
}
#container #column .readmore a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font-weight: bold;
    height: auto;
    line-height: normal;
    margin-top: 15px;
    padding-left: 0;
    text-align: right;
    width: 100%;
}
#column .latestnews {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#column .latestnews li {
    border-bottom: 1px dotted #c7c5c8;
    display: block;
    height: 99px;
    margin: 0 0 11px;
    overflow: hidden;
    padding: 0 0 21px;
    width: 100%;
}
#column .latestnews li.last {
    margin-bottom: 0;
}
#column .latestnews p {
    display: inline;
}
#column .latestnews img {
    border: 1px solid #c7c5c8;
    clear: left;
    float: left;
    margin: 0 10px 0 0;
    padding: 4px;
}
#academiclinks {
    border-bottom: 1px solid #949ba0;
    padding: 30px 0;
}
#academiclinks .linkbox {
    display: block;
    float: left;
    font-size: 12px;
    margin: 0 40px 0 0;
    width: 210px;
}
#academiclinks a {
    background-color: #c8cccf;
    color: #6a737a;
}
#academiclinks h2, #academiclinks ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#academiclinks h2 {
    border-bottom: 1px solid #949ba0;
    font-size: 14px;
    margin: 0 0 8px;
    padding: 0 0 8px;
    text-transform: uppercase;
}
#academiclinks ul li {
    line-height: 1.6em;
}
#academiclinks .last {
    margin: 0;
}
#footer {
    padding: 30px 0;
}
#footer a {
    background-color: #c8cccf;
    color: #6a737a;
}
#footer .fl_left {
    margin-bottom: 30px;
}
#footer .fl_left .fl_left {
    margin-bottom: 0;
}
#footer .fl_left img {
    margin-bottom: 20px;
}
#footer address {
    display: inline;
    float: left;
    font-style: normal;
    line-height: 1.6em;
    margin-left: 40px;
    text-transform: none;
}
#footer .fl_right {
    display: block;
    margin-bottom: 30px;
    width: 400px;
}
#footer .fl_right p {
    line-height: normal;
    margin: 0 0 15px;
    padding: 0;
}
#footer .fl_right #social {
    display: block;
    line-height: normal;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}
#footer .fl_right #social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#footer .fl_right #social li {
    float: left;
}
#footer .fl_right #social a {
    background: rgba(0, 0, 0, 0) url("../images/social-sprite.gif") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 49px;
    margin-right: 20px;
    overflow: hidden;
    text-indent: -4000em;
    width: 49px;
}
#footer .fl_right #social li.last a {
    margin-right: 0;
}
#footer .last {
    margin: 0;
}
#copyright {
    clear: both;
    display: block;
    padding: 15px 20px;
}
#copyright .fl_left, #copyright .fl_right {
    margin: 0;
    width: auto;
}
#copyright p {
    margin: 0;
    padding: 0;
}
#copyright, #copyright a {
    background-color: #b20000;
    color: #ffffff;
}
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../images/body1_bg.jpg) repeat-x #fff;
}
#header{
	width:980px;
	height:115px;
	margin:auto;
}

#header .logo{
	float:left;
	margin-left:10px;
}
#header .dove{
	float:left;
	position:relative;
	z-index:0px;
}
#header form{
	width:296px;
	float:left;
	margin-top:78px;
}
#header form label{
	font-size:12px;
	color:#fff;
	display:block;
	height:17px;
	float:left;
	margin:5px 10px 0px 0px;
}

#container{
	width:980px;
	margin:auto;
	padding-top:20px;
	margin-bottom:30px;
	font-size:12px;
	color:#1E3550;
}
.clear{clear:both;}
#left{
	width:323px;
	float:left;
	padding-left:10px;
}

#column {
    display: block;
    float: right;
    width: 300px;
}
#column .subnav {
    background-color: #f7f7f7;
    display: block;
    margin-bottom: 30px;
    padding: 25px;
    width: 250px;
}

.container { position:relative; padding:0 0 0 55px; }
#sidebar {
    position:absolute;
    top:0; bottom:0; left:0;
    width:50px;
    background:#000;
}

#header { border:1px solid #000; width:100px; height:20px; 
    margin:0 0 5px 0;
}
#content { border:1px solid #000; width:100px; height:50px;
    margin:5px 0 5px 0;
}
#footer { border:1px solid #000; width:100px; height:20px;
    margin:5px 0 0 0;
}
/*
#left .profileCon{
	width:323px;
	float:left;
}
.profileCon .editpro{
	width:105px;
	float:left;
}
#left .details div{
	height:22px;
}
.profileCon .profile_pic{
	width:105px;
	height:105px;
	float:left;
	border:1px solid #ccc;
}
.profileCon .details{
	width:206px;
	float:left;
	margin-left:10px;
}
.profileCon .details .nameCon{
	float:left;
	width:206px;
}
.profileCon .details .nameCon div{
	float:left;
}
.profileCon .details .sexCon{
	float:left;
	width:206px;
}
.profileCon .details .sexCon div{
	float:left;
}
.profileCon .details .dobCon{
	float:left;
	width:206px;
}
.profileCon .details .dobCon div{
	float:left;
}
.profileCon .details .poboxCon{
	float:left;
	width:206px;
}
.profileCon .details .poboxCon div{
	float:left;
}
.profileCon .details .emailCon{
	float:left;
	width:206px;
}
.profileCon .details .emailCon div{
	float:left;
}
.profileCon .details .mobileCon{
	float:left;
	width:206px;
}
.profileCon .details .mobileCon div{
	float:left;
}
.profileCon .details .languagesCon{
	float:left;
	width:206px;
}
.profileCon .details .languagesCon div{
	float:left;
}
.profileCon .details .occupationCon{
	float:left;
}
.profileCon .details .occupationCon div{
	float:left;
}
.profileCon .details .countryCon{
	float:left;
	width:206px;
}
.profileCon .details .countryCon div{
	float:left;
}
.profileCon .details .countryCon img{
	float:left;
}
.profileCon .details .countryCon .nigerian_flag{margin:0px 5px}
.profileCon .editCon{
	width:105px;
	float:left;
	margin-top:5px;
}
.profileCon .editCon a{
	float:left;
	display:block;
	width:105px;
	text-decoration:none;
	color:#5480C4;
	height:19px;
}
.profileCon .editCon a:hover{
	text-decoration:underline;
}
.profileCon .editCon .logout{
	font-weight:bold;
}
*/

#main{
	width:637px;
	float:left;
	padding-left:5px;
}

#footer{
	width:980px;
	height:30px;
	margin:auto;
	border-top:1px solid #ccc;
	padding-bottom:10px;
}
#footer .linksCon{
	width:900px;
	margin-left:40px;
	float:left;
}
#footer a{
	display:block;
	float:left;
	text-decoration:none;
	color:#0F243E;
	padding:0px 20px;
}
#footer a:hover{
	text-decoration:underline;
}