@charset "utf-8";
/* CSS Document */
#main .first_div{
	width:812px;
	height:42px;
	float:left;
	background:#F2F2F2;
	padding:8px 0px 0px 8px;
}
#main .first_div a{
	width:106px;
	height:25px;
	float:left;
	display:block;
	background:#ccc;
	border:1px solid #666;
	color:#666;
	margin-right:6px;
	text-decoration:none;
	font-size:12px;
	text-align:center;
	padding-top:8px;
}
#main .first_div a:hover{
	color:#fff;
	background:#C1272D;
}
#main .first_div a:active{
	color:#fff;
	background:#C1272D;
}
.second_div{
	width:812px;
	height:42px;
	float:left;
	background:#F2F2F2;
	padding:8px 0px 0px 8px;
}
.second_div a{
	width:106px;
	height:25px;
	float:left;
	display:block;
	background:#ccc;
	border:1px solid #666;
	color:#666;
	margin-right:6px;
	text-decoration:none;
	font-size:12px;
	text-align:center;
	padding-top:8px;
}
.second_div a:hover{
	background:#275291;
	color:#fff;
}
.second_div a:active{
	background:#275291;
	color:#fff;
}
.third_div{
	width:820px;
	height:38px;
	float:left;
	background:#88ADD8;
}
.third_div a{
	height:28px;
	display:block;
	float:left;
	border-right:1px solid #666;
	padding:10px 15px 0px 15px;
	text-decoration:none;
	color:#000;
	font-size:11px;
}
.third_div a:hover{
	background:#BFD8EF;
}
.third_div a:active{
	background:#BFD8EF;
}
/*-----tabel----*/
#tableCon{
	width:818px;
	float:left;
	border:1px solid #666;
	margin:6px 0px 10px 0px;
}

#tableCon2{
	width:778px;
	float:left;
	border:1px solid #666;
	margin:6px 0px 10px 0px;
}

#tableConItem{
	width:777px;
	float:left;
	border:1px solid #666;
	margin:6px 0px 10px 0px;
}
#tableCon table{
	margin:3px;
}
#tableConItem table{
	margin:3px;
}
#tableCon thead{
	width:810px;
	height:34px;
	background:#666;
}
#tableConItem thead{
	width:810px;
	height:34px;
	background:#666;
}
#tableCon thead th{
	height:30px;
	border-right:1px solid #ccc;
	padding-left:17px;
	color:#fff;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
#tableConItem thead th{
	height:30px;
	border-right:1px solid #ccc;
	padding-left:17px;
	color:#fff;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
#tableCon tbody tr:hover{
	background:#FBB03B;
	cursor:pointer;
}
#tableConItem tbody tr:hover{
	cursor:pointer;
}
#tableCon tr td{
	height:30px;
	border-bottom:1px dashed #ccc;
	padding-left:17px;
}
#tableCon2 tr td{
	height:30px;
	border-bottom:1px dashed #ccc;
	padding-left:17px;
}

#tableCon2 tbody tr:hover{
	background:#FBB03B;
	cursor:pointer;
}

#tableConItem tr td{
	height:30px;
	padding-left:17px;
}


/*.pagination_con{
	width:818px;
	height:47px;
	float:left;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.pagination_con .text{
	display:block;
	float:left;
	font-size:14px;
	margin:18px 15px 0px 15px;
}
.pagination_con a{
	width:30px;
	height:25px;
	display:block;
	float:left;
	margin:10px 5px 0px 5px;
	border:1px solid #ccc; 
	font-size:14px;
	text-decoration:none;
	text-align:center;
	color:#000;
	padding-top:5px;
	
}
.pagination_con a:hover{
	background:#ccc;
}*/

.result_con {
background:url("../images/result1.png") no-repeat scroll 0 0 transparent;
float:left;
height:45px;
margin-bottom:16px;
padding-top:4px;
width:830px;
}

.result_con1 {
background:url("../images/result1.png") no-repeat scroll 0 0 transparent;
float:left;
height:45px;
margin-bottom:16px;
padding-top:4px;
width:778px;
}
.result {
background:url("../images/result.png") no-repeat scroll 0 0 transparent;
color:#FFFFFF;
float:left;
font-size:14px;
height:28px;
margin-left:9px;
padding:12px 0 0 11px;
width:96px;
}
.paginationLeftBorder {
background:url("../images/pagesLeft.png") no-repeat scroll 0 0 transparent;
float:left;
height:40px;
margin-left:4px;
width:5px;
}
.pagination {
background:url("../images/pagesCenter.png") repeat scroll 0 0 transparent;
float:left;
font-size:14px;
height:40px;
width:691px;
}
.paginationRightBorder {
background:url("../images/pagesRight.png") no-repeat scroll 0 0 transparent;
float:left;
height:40px;
width:4px;
}
.pagination .text {
display:block;
float:left;
margin:12px 0 0 12px;
}
.pagination a {
border:1px solid #999999;
color:#000000;
float:left;
height:22px;
margin:5px 0 0 10px;
padding-top:6px;
text-align:center;
text-decoration:none;
width:28px;
}
.pagination a:hover {
background:none repeat scroll 0 0 #FFFFFF;
}
.pagination a._actPage {
background:none repeat scroll 0 0 #FFFFFF;
cursor:text;
}
ul{border:0; margin:0; padding:0;}

#pagination-flickr li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination-flickr a{
border:solid 1px #DDDDDD;
margin-right:2px;
}
#pagination-flickr .previous-off,
#pagination-flickr .next-off {
color:#666666;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-flickr .next a,
#pagination-flickr .previous a {
font-weight:bold;
border:solid 1px #FFFFFF;
}
#pagination-flickr .active{
color:#ff0084;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-flickr a:link,
#pagination-flickr a:visited {
color:#0063e3;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-flickr a:hover{
border:solid 1px #666666;
}
#clear {
clear:both;

}
#tableCon1{
	width:778px;
	/*float:left;*/
	border:1px solid #666;
	margin:6px 0px 10px 0px;
}
/* second table con1*/

/*-----tabel----*/

/*#tableCon1 tr td{
	height:30px;
	border-bottom:1px dashed #ccc;
	
}*/

#tableCon1 tr td{
	height:30px;
	border-bottom:1px dashed #ccc;
	padding-left:17px;
}

#tableCon1 table{
	margin:3px;
}
#tableCon1 thead{
	width:810px;
	height:34px;
	background:#666;
}
#tableCon2 thead{
	width:810px;
	height:34px;
	background:#666;
}

#tableCon1 thead th{
	height:30px;
	border-right:1px solid #ccc;
	padding-left:17px;
	color:#fff;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
#tableCon2 thead th{
	height:30px;
	border-right:1px solid #ccc;
	padding-left:17px;
	color:#fff;
	text-align:left;
	font-size:14px;
	font-weight:normal;
}
#tableCon1 tbody tr:hover{
	background:#FBB03B;
	cursor:pointer;
}