/* FORM */
.content .boxfield{
	float:left;
	margin:5px 10px 10px 5px;
}
.content form .boxfield label{
	font-size:12px;
	color:#0F243E;
	display:block;
	height:17px;
}
.content .boxfield input[type=text],
.content .boxfield input[type=password]{
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
}
.content .boxfield select {
	height:24px;
	border:1px solid #ccc;
}
._fDate {
	width:80px;
}
._fEmail {
	width:250px;
}
._fCountry {
	width:300px;
}
._fPhoneNumber {
	width:150px;
}