/* date picker */
table.jCalendar {
	border: 1px solid #000;
	background: #aaa;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}

table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #f66;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #f33;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #bbb;
	color: #888;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

a.dp-choose-date {
	background:transparent url(http://css.computicket.com/web/img/frontend/icon-calendar.gif) no-repeat scroll 0 0;
	display:block;
	float:left;
	height:16px;
	margin:2px 3px 0;
	overflow:hidden;
	padding:0;
	text-indent:-2000px;
	width:16px;
	cursor: pointer;
}
/* thickbox */
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
  position: fixed;
  z-index: 102;
  display:none;
  text-align:left;
  top:50%;
  left:50%;
}
*+html #TB_window { /* ie7 hack */
  position:absolute;
  margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  float:right;
}
#TB_closeAjaxWindow{
  text-align:right;
  float:right;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}
#TB_title{
  background-color:#e8e8e8;
  height:27px;
}
#TB_ajaxContent{
  clear:both;
  overflow:hidden;
}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
}
/* jquery alerts */
#popup_container {
	width: 370px!important;
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #FFF;
	border: solid 5px #666;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; }

h1#popup_title {
	height: 26px; width: 370px;
	font-size: 14px; font-weight: bold; text-align: center; color: #fff; line-height: 1.9em;
	background: url(http://css.computicket.com/web/img/frontend/sprite-black.gif) -10px -600px no-repeat;
	cursor: default; padding: 0em; margin: 0em; }

#popup_content { padding: 10px; margin: 0; width: 350px; }

#popup_message { text-align: center; }
#popup_panel { text-align: center; margin: 1em 0em 0em 1em; }
#popup_prompt { margin: .5em 0em; }

#popup_ok { width: 52px; height: 26px; background: transparent url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -316px no-repeat; border: none; cursor: pointer; padding: 0; }
#popup_cancel { width: 62px; height: 24px; margin-top: 1px; background: transparent url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -250px -388px no-repeat; border: none; cursor: pointer; padding: 0; }
/* jquery jcarousel */
/**
 * This <div> element is wrapped by jCarousel around the list
 * and has the classname "jcarousel-container".
 */
.jcarousel-container {
/*     position: relative !important; */
left: 0px;
}

.jcarousel-clip {
	left: 0 !important;
    z-index: 2;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    position: relative !important;
}

.jcarousel-list {
    z-index: 1 !important;
/*     overflow: hidden; */
    position: relative !important;
    top: 0;
	left: 0 !important;
    margin: 0;
    padding: 0;
}

.jcarousel-list li,
.jcarousel-item {
/*     float: left; */
    list-style: none;
    /* We set the width/height explicitly. No width/height causes infinite loops. */
/*     width: 75px; */
    height: 75px;
}

/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */
.jcarousel-next {
    z-index: 3;
    display: none;
	left: 0 !important;
}

.jcarousel-prev {
    z-index: 3;
    display: none;
	left: 0 !important;
}


.jcarousel-container-vertical {
    height: 300px !important;
}

.jcarousel-clip-vertical {
    top: 14px !important;
    height: 270px !important;
    margin: 0 5px;
    z-index: 20 !important;
	left: 0 !important;
}

#mycarousel li,
.jcarousel-item-vertical,
.jcarousel-item-placeholder-vertical {
/*     width: 121px !important; */
    height: auto !important;
}

.jcarousel-item h3,
.jcarousel-item p {
}

.jcarousel-next-vertical {
    position: absolute !important;
    top: 286px !important;
	left: 0 !important;
    height: 14px !important;
    cursor: pointer !important;
/*     border-top: 1px solid #fff !important; */
    background: #BF141A url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) center -840px no-repeat !important;
}

.jcarousel-next-disabled-vertical {
    cursor: default !important;
    opacity: .5 !important;
    -moz-opacity: .5 !important;
    filter: alpha(opacity=50) !important;
	left: 0 !important;
}

.jcarousel-prev-vertical {
    position: absolute !important;
    top: 0 !important;
	left: 0 !important;
    height: 14px;
    cursor: pointer !important;
/*     border-bottom: 1px solid #fff !important; */
    background: #BF141A url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) center -825px no-repeat !important;
}

.jcarousel-prev-disabled-vertical {
    cursor: default !important;
    opacity: .5 !important;
    -moz-opacity: .5 !important;
    filter: alpha(opacity=50) !important;
	left: 0 !important;
}
/* modal */
/* modal template */

#bot {  width: 698px; background: #fff url(http://css.computicket.com/web/img/frontend/modal.gif) -698px bottom no-repeat; }
#modal { width: 684px; padding: 7px 7px 0; background: url(http://css.computicket.com/web/img/frontend/modal.gif) 0 0 no-repeat; position: relative; }
	
	p.big { color:#797979; font-family:arial; font-size:14px; font-style:italic; font-weight:bold; }
	
	#modal .col-full { margin: 0 0 -5px; }
	#modal .col-full .bg { padding:7px 0 5px 5px; background: url(http://css.computicket.com/web/img/frontend/sprite-repeater.gif) no-repeat scroll -3579px bottom; }
	#modal .sub-basket { margin: 5px 0 0; }
	#modal .sub-basket .bot { padding:4px 9px 9px; width:656px; max-height:385px; }
	
	.modal-fullwidth { max-height: 375px; overflow: auto; margin: 10px 5px 5px 10px; }
	.modal-fullwidth a:hover { text-decoration: none; }
	
	#modal a.icon-print { position:absolute; right:40px; top:17px; z-index:10; text-transform: uppercase; color: #ddd; text-decoration: none; }
	#modal a.icon-print:hover { color: #fff; }	
	#modal a.close-popup { top: 19px; right: 19px; z-index: 1; background:transparent url(http://css.computicket.com/web/img/frontend/button-sprite.gif) no-repeat -44px -99px; }
	#modal a.close-popup:hover { background:transparent url(http://css.computicket.com/web/img/frontend/button-sprite.gif) no-repeat -59px -99px; }

	#modal .submission-error, #modal .submission-success, div.error { padding: 7px; margin-bottom: 10px; background: #C0161C; color: #fff; }
	#payment div.error li { list-style: none; margin: 0; }
	#payment div.error li label { color: #fff!important; font-weight: normal!important; }

/* FAQ Page */
	
	/* leftcol */
	
		#modal .leftcol { width: 200px; height: 373px; padding: 7px 0 0; background: url(http://css.computicket.com/web/img/frontend/modal-bg-leftcol.gif) 0 0 no-repeat; float: left; margin: 5px 0 0; 	overflow-x:hidden; overflow-y:auto;}
			
			.leftcol ul { list-style: none; margin: 0; padding: 1px 0 0; background: url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 0 repeat-x; }
			.leftcol ul li { margin: 0; }					
			.leftcol ul li a { display: block; width: 173px; min-height: 15px; padding: 7px 0 5px 10px; background: transparent url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 bottom repeat-x; color: #242424; font-weight: bold; text-decoration: none; }
			.leftcol ul li a:hover, .leftcol ul li.on a, .leftcol ul ul.subnav li a:hover, .leftcol ul ul.subnav li.on a { background: #f7f7f7 url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 bottom repeat-x; }
		
			.leftcol ul ul.subnav { padding: 0; margin: 0; }
			.leftcol ul ul.subnav li a { width: 170px; background: #f2f2f2 url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 bottom repeat-x; color: #ED1C24!important; padding: 7px 0 5px 20px;  }
	
	/* rightcol */	
	
		#modal .rightcol { width: 429px; padding: 10px; height: 360px; float: right; margin: 5px 0 0; position: relative; background: url(http://css.computicket.com/web/img/frontend/modal-bg-rightcol.gif) 0 0 no-repeat; }
			#modal .rightcol .scroll { overflow: auto; height: 360px; }
			
			.more-faq {	position: absolute; right: 11px; top: 11px; }
				.more-faq a { display: block; width: 17px; height: 17px; margin-left: 1px; text-indent: -9999px; float: left; }
					.more-faq a.bt-prev { background: url(http://css.computicket.com/web/img/frontend/button-sprite.gif) no-repeat 0 -46px; }
					.more-faq a.bt-next { background: url(http://css.computicket.com/web/img/frontend/button-sprite.gif) no-repeat -34px -46px; }
			
			#modal .rightcol ul.related { list-style: none; margin: 0 0 25px; padding: 0; }
			#modal .rightcol ul.related li { margin: 0 0 3px; }
			#modal .rightcol ul.related li a { color: #ED1C24; text-decoration: none; font-weight: bold; }
			
/* NEWS Page */			
			
.leftcol p.title { color: #ED1C24; text-transform: uppercase; padding-left: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 12px; margin: 0 0 5px; }			
.leftcol ul li a span { font-weight: normal; color: #ED1C24; display: block; padding-top: 3px; }

.rightcol p.news-date { color: #ED1C24; }
.rightcol p.news-title { color: #242424; font-size: 12px; font-weight: bold; margin: 0 0 2px; }
.news-img { width: 147px; height: 147px; position: relative; float: right; margin: 0 3px 10px 10px; }
	.news-img div.overlay-news { width: 147px; height: 147px; position: absolute; background: url(http://css.computicket.com/web/img/frontend/sprite-png.png) -209px -147px no-repeat; }

#modal .other-events-viewing { bottom:20px; left:24px; }


/* BASKET page */

p.item-name { color: #000; font-weight: bold; }
.my-basket tr.titles { font-weight: bold; }
.my-basket tr.titles td, .my-basket tr.total td { background: #fff url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 bottom repeat-x; }
.my-basket td { padding: 5px 0; background: #f7f7f7 url(http://css.computicket.com/web/img/frontend/dashed-border.gif) 0 bottom repeat-x; vertical-align: top; }
.my-basket tr.total td p { color: #000; font-size: 11px; font-weight: bold; }

.my-basket td p { margin: 0; }
.my-basket td.event { padding-left: 7px; }
.my-basket td.event p a { color: #000; font-weight: bold; text-decoration: none; }
.my-basket td.event p a:hover { text-decoration: underline; }

.my-basket a.delete { width: 62px; height: 24px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -250px -340px no-repeat; float: left; }
.my-basket a.proceed-payment { width: 134px; height: 26px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -212px no-repeat; float: right; }
.my-basket a.proceed { background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -160px no-repeat; display: block; float: left; width: 159px; height: 26px; }

	/* -- basket on payment page */
	
	span.summary-total { float: right; font-size: 12px; font-style: normal; margin: 2px 8px 0 0; }

	span.time {
		float:right;
		font-size:12px;
		font-style:normal;
		margin:2px 8px 0 0;
		color: #E71A21;
	}
	span.timeinfo {
		float:right;
		font-size:12px;
		font-style:normal;
		margin:2px 8px 0 0;
	}
	
	form.payment-basket { height: 100px; overflow-y: auto; overflow-x: hidden; }
	form.payment-basket table td { padding-right: 7px; }
	form.payment-basket table td p { color: #000; font-weight: bold; }
	form.payment-basket table td p strong { color: #797979; }
	form.payment-basket table td p.red { font-weight: normal; }
	
	.edit-basket { cursor: pointer; text-indent: -9999px; border: none; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -370px no-repeat; display: block; width: 93px; height: 26px; margin-top: 10px; }
	
	/* ------------------------- */
	
/* payment page */

.purchase .modal-fullwidth { overflow-x: hidden; }
	
p.red, #leftcol fieldset.personal-details label span { color: #ED1C24!important; }	
p.black { color: #000; }

form#payment { float:left; width:350px; }

	form#payment a, form#payment a:visited { color: #ed1c24; }
	form#payment a:hover { text-decoration: none; }
	form#payment label { font-weight: bold; color: #474747; font-size: 10px; cursor: pointer; }
	form#payment .checkbox { margin: 0; padding: 0; }
	a.pay-now { display: block; float: left; height: 26px; margin: 15px 0 15px 0; text-indent: -9999px; width: 73px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -290px no-repeat; }

	input.pay-now {
		display: block;
		float: right;
		height: 26px !important;
		margin: 0 10px 0 0;
		text-indent: -9999px;
		width: 73px;
		background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -290px no-repeat;
		padding-left: 0px !important;
		cursor: pointer;
	}

	form#payment input { border: none; height: 17px; padding-left: 5px; }

	form#payment select.title { width: 57px; }
	form#payment input.email, form#payment input.contact-number { width: 157px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -205px no-repeat; }
	form#payment input.name, form#payment input.surname { width: 132px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -162px -205px no-repeat; }
		form#payment input.name { margin-right: 5px; }
	form#payment select.reminder { width: 163px; }
	form#payment input.cc { width: 335px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -167px no-repeat; }
	form#payment select.expiry { width: 70px; }
	form#payment select.budget { width: 85px; }
	form#payment input.cvv { width: 51px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -224px no-repeat; }

#please-note { float: right; width: 250px; background:#F2F0F1; padding: 10px; }
	#please-note p.red { font-weight: bold; text-transform: uppercase; }

	.secure-info { clear: right; margin: 10px 0 0; }
	a.logo-mc { background: url(http://css.computicket.com/web/img/frontend/logo-mc2.gif) 0 -5px no-repeat; float: left; margin-right: 10px; display: block; width: 129px; height: 60px; float: left; margin-bottom: 10px; }
	a.logo-visa { background: url(http://css.computicket.com/web/img/frontend/logo-visa2.gif) 0 -5px no-repeat; display: block; width: 109px; height: 60px; float: left; }
	a.logo-mc-white { background: url(http://css.computicket.com/web/img/frontend/logo-mc.gif) 0 -5px no-repeat!important; }
	a.logo-visa-white { background: url(http://css.computicket.com/web/img/frontend/logo-visa.gif) 0 -5px no-repeat!important; }
	p.nocap { text-transform: none!important; font-style: normal!important; }
	
.confirmation .sub-basket .bot { max-height: none!important; }
.confirmation .modal-fullwidth { max-height: none!important; }

.summary { background: #dadada url(http://css.computicket.com/web/img/frontend/conf-top-dark.gif) 0 0 no-repeat; margin: 0 0 10px; }
.summary-bot { background: url(http://css.computicket.com/web/img/frontend/conf-bot-dark.gif) 0 bottom no-repeat; padding: 6px; }
	
	.sub-summary-left { width: 248px; float: left; background: #f4f4f4 url(http://css.computicket.com/web/img/frontend/conf-top-light-small.gif) 0 0 no-repeat; margin: 0 0 -12px; }
		.sub-summary-left-bot { width: 234px; padding: 7px; background: url(http://css.computicket.com/web/img/frontend/conf-bot-light-small.gif) 0 bottom no-repeat; height: 250px; overflow: auto; }
	.sub-summary-right { width: 375px; float: right; background: #f4f4f4 url(http://css.computicket.com/web/img/frontend/conf-top-light-big.gif) 0 0 no-repeat; margin: 0 0 -12px; }
		.sub-summary-right-bot { width: 361px; padding: 7px; background: url(http://css.computicket.com/web/img/frontend/conf-bot-light-big.gif) 0 bottom no-repeat; height: 250px; overflow: auto; }
	
	.sub-summary-left p, .sub-summary-right p { margin: 0 0 5px!important; font-weight: normal; }
		.sub-summary-left p span { color: #ED1C24; font-weight: bold; }
	
	#modal .summary table { margin-bottom: 5px; }
	#modal .summary table td { padding: 5px; background: #f4f4f4; font-weight: bold; color: #333; }
	#modal .summary table td span { color: #ED1C24; }
	.summary p { margin: 0 0 0 4px; color: #333; }		

/* PROFILER / REGISTRATION page */

p.profile-login { float: right; color: #ddd; margin: 3px 30px 0 0; }
p.profile-login a { color: #ddd; }
p.profile-login a:hover { color: #fff; text-decoration: none; }
.register .modal-fullwidth { height: 330px; overflow-x: hidden; }
.register a.bt-signup { width: 88px; height: 24px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -290px no-repeat; clear: both; float: right; margin: 8px 8px 0 0; }
.register a.bt-update-details { width: 139px; height: 26px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -368px no-repeat; clear: both; float: right; margin: 7px 8px 0 0; }
	
	/* personal details */
	.register fieldset.personal-details { padding: 0 0 10px 0; }
	.register fieldset.personal-details label { font-weight: bold; float: left; margin-right: 4px; }
	.register fieldset.personal-details input { width: 157px; height: 16px; padding: 3px 0 0 5px; font-size: 11px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) no-repeat 0 -205px; border: none; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; }
		input.input-small { background: url(http://css.computicket.com/web/img/frontend/bg-input-narrow.gif) 0 0 no-repeat!important; }
		input.input-medium { background: url(http://css.computicket.com/web/img/frontend/bg-input-medium.gif) 0 0 no-repeat!important; }
		input.input-wide { width:198px!important; background: url(http://css.computicket.com/web/img/frontend/bg-input-wide.gif) 0 0 no-repeat!important; }
		.register fieldset.personal-details input.radio { width: auto; height: auto; background: none; padding: 0; margin-right: 2px; float:left; }
	.register fieldset.personal-details select { width: 234px; height: 20px; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
		.register fieldset.personal-details .dob { width: 180px; }
		.register fieldset.personal-details .dob select { width: 55px; float: left; margin-right: 2px; }
	
	/* updates & favourites */
	table.preferences { width: 624px; }
	table.preferences td { width: 210px; overflow: hidden; }
	table.preferences h1 { position: static; padding: 4px 0 0 5px; position:static; width: 198px; height: 18px; background: url(http://css.computicket.com/web/img/frontend/sprite-black.gif) 0 -218px no-repeat; margin: 0 0 3px; font-size: 15px; }
	table.preferences h1.wide { width: 399px; background-position: -203px -218px; }
	
	.register fieldset.update-me { margin: 0 0 5px; }
	.register fieldset.update-me p { margin: 0; }
	.register fieldset.update-me img { margin: 0 0 -3px 3px; }
	.register fieldset.update-me input { margin: 0 4px 2px 0; }
	
	.fave { background:#F2F0F1; overflow: hidden; width: 203px; padding: 3px 0 1px 0; }
		.fave p { margin: 0 10px 0; }
		.fave .tl, .fave .tr, .fave .bl, .fave .br { width: 203px; }	
			.fave .br { padding-top: 8px; }
		.fave table { margin: 10px 0 0 10px; }	
		.fave table td { width: auto; }
		.fave input { margin: 0 0 2px; }
		
		.register h1.send span { margin-right: 10px; float: right; color: #fff; text-transform: uppercase; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
		.register fieldset.update-me p, .register fieldset.faves label {  color: #ed1c24; text-transform: uppercase; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
		.register fieldset.faves label { color: #666; font-style: italic; display: block; float: left; width: 30px; }
		.register fieldset.faves input { width: 140px; }
		
	/* Interests */
	.register h2 span { font-size: 14px; }
	.register fieldset.interests table { margin: 4px 0 0 15px; }
	.register fieldset.interests table td { width: 25%; }
	.register fieldset.interests table td input { margin: 0 4px 2px 0; float: left; }
	.register fieldset.interests table td label { margin: 0; display: block; }
	.register h3 { position: static; width: 403px; height: 20px; padding: 6px 0 0 0; margin: 0 0 3px; background: url(http://css.computicket.com/web/img/frontend/sprite-black.gif) 0 -166px no-repeat; cursor: pointer; font-size: 14px; color: #fff; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; font-style: italic; }
		.register h3 span { margin: 0 0 0 25px !important; float: none !important; }
	.register h3.open { background: url(http://css.computicket.com/web/img/frontend/sprite-black.gif) 0 -192px no-repeat; }
	
	fieldset.interests span { float: left; margin: -27px 0 0 248px; }
	fieldset.interests span p.of { font-size:10px; font-style:normal; color: #999; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase; float: right; text-align: right; line-height: 11px; margin: 0; }
	fieldset.interests span a.select-all, fieldset.interests span a.deselect-all { display: block; float: right; height: 22px; background:transparent url(http://css.computicket.com/web/img/frontend/button-sprite.gif) no-repeat 0 -117px; text-indent: -9999px; }
	fieldset.interests span a.select-all { width: 39px; margin-left: 6px; }
	fieldset.interests span a.deselect-all { width: 49px; margin-left: 3px; background-position: 0 -139px; }
	
	.venue-list {
		background:#EBE9EA; display: none;
		border:1px solid #ACACAC;
		max-height:100px;
		overflow-x:hidden;
		overflow-y:auto;
		position:absolute;
		width:155px; }
		
	.venue-list span { background: #D0171D; color: #fff; }
	.venue-list a { color: #4c4c4c; margin: 0; text-decoration: none; display: block; padding: 3px 5px; font-weight: bold; }
	.venue-list a:hover { color: #000; }

div.captcha { float: right; margin-right: 6px; margin-top: 6px; }
div.captcha img { width: 80px; height: 22px; float: left; margin-right: 4px; margin-top: 4px; }
div.captcha a:hover { text-decoration: none; }
div.captcha input { height:16px; margin:4px 4px 0 0; width: 40px; font-weight: normal; }

/*------------------------ OLD MODAL CODE ------------------------ */

#modal table td { color: #000; }

/* basket confirmation */

	#modal .action { height: 26px; }
		
	a.continue, #modal a.view, a.checkout, #checkout-login a.bt-login, a.continue-shopping, .cancel, .cancel-profiler, #modal a.add, a.bt-clear, a.bt-send, #modal a.clear-basket { display: block; float: left; height: 26px; margin-right: 10px; text-indent: -9999px; cursor: pointer; color: #fff; }
	
		a.continue { width: 138px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -212px no-repeat; }
		#modal a.view { width: 98px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -134px no-repeat; }
		a.checkout { width: 159px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -160px no-repeat; }
		#modal a.clear-basket { width: 111px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -238px no-repeat; }
		form#payment input.cancel { height: 24px; }
		
/* checkout login */
	
	#modal h1.grey { margin: 0 0 10px; }
	#checkout-login form label { color: #4c4c4c; }
	#checkout-login form input { margin: 0 0 3px; font-size: 11px; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; }
	#checkout-login input.wide { width: 218px; height: 16px; padding: 3px 0 0 4px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -148px no-repeat; border: none; }
	#checkout-login a.bt-login { width: 57px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -186px no-repeat; }
	a.bt-forgot { display: block; float: left; width: 142px; height: 24px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -250px -412px no-repeat; }
	
/* confirmation - available */	

	#modal .box-greyborder-wide { background: url(http://css.computicket.com/web/img/frontend/boxgreyborder-sprite.gif) -1004px 0 repeat-y; width: 416px; }
	#modal .box-greyborder-wide .top { background: url(http://css.computicket.com/web/img/frontend/boxgreyborder-sprite.gif) -588px 0 no-repeat; }
	#modal .box-greyborder-wide .bot { background: url(http://css.computicket.com/web/img/frontend/boxgreyborder-sprite.gif) -1420px bottom no-repeat; width: 400px; padding: 8px; }
	
	.cancel, .cancel-profiler { width: 62px; height: 24px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -250px -388px no-repeat; border: none; }
	#modal a.add { width: 111px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -238px no-repeat; }
	.cancel-profiler { background-position: -312px -388px; margin: 8px 0 0 8px; }
	table#tandc { width: 53%; float: right; margin: 5px -8px 0 0; }
	
/* clash detected */

form#clash label { font-size: 11px; cursor: pointer; }	
form#clash input[type=radio] { margin-top: 3px; }

	a.continue-shopping { width: 78px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -342px no-repeat; }
	
	
/* contact */	

.contact-form label, .register label { color: #4c4c4c; font-weight: bold; cursor: pointer; }
	.register label a:hover { text-decoration: none; }
	.contact-form label.big { font-size: 12px; text-transform: uppercase; font-style: italic; color: #757575; font-family: Arial, Helvetica, sans-serif; cursor: default; }
.contact-form label span, .register label span { color: #ED1C24; }
.contact-form input { border: none; height: 15px; margin: 0; padding: 4px 0 0 4px; font-weight: normal; color: #8e8e8e; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
	.contact-form input[type=radio] { height: auto; float: left; }
.contact-form select { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; font-size: 11px; height: 18px; }

	.contact-form div.textarea-contact { height: 78px; width: 205px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -240px -1475px no-repeat; }
	.contact-form div.textarea-contact textarea { height:74px; margin: 2px 0 0 2px; width:200px; border: none; font-weight: normal; color: #8e8e8e; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; }
	
	.contact-form input.input-small { width: 111px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -243px no-repeat; }
	.contact-form input.input-medium { width: 158px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -205px no-repeat; }
	.contact-form input.input-large { width: 266px; background: url(http://css.computicket.com/web/img/frontend/bg-input-large.gif) 0 0 no-repeat!important; }
	
	.contact-form a.bt-clear { width: 62px; background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -250px -365px no-repeat; margin-right: 5px; }
	a.bt-send { width: 52px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -264px no-repeat; }
	
#contact-info { width: 200px; float: right; padding-left: 5px; border-left: 1px solid #ddd; }
#contact-info p { margin: 0 0 10px; }	
#contact-info a:hover { text-decoration: none; }

/* payment leftcol */
.my-basket tr.noborder td { background: #f7f7f7; padding-bottom: 0; }
#payment-leftcol { margin-top: 7px; }
#payment-leftcol h2 { width: 213px; padding-left: 7px; background: transparent url(http://css.computicket.com/web/img/frontend/sprite-black.gif) -430px -626px no-repeat ; }
#payment-leftcol #bot { width:245px; margin-left: 7px; background: #FFFFFF url(http://css.computicket.com/web/img/frontend/pay-modal.gif) -245px bottom no-repeat; }
#payment-leftcol #modal { width:231px; background: transparent url(http://css.computicket.com/web/img/frontend/pay-modal.gif) 0 0 no-repeat; }
#payment-leftcol .col-full { width:231px; background: #B4B4B4 url(http://css.computicket.com/web/img/frontend/pay-col-bg-top.gif) 0 0 no-repeat; }
#payment-leftcol .col-full .bg { width:226px; overflow:hidden; background: url(http://css.computicket.com/web/img/frontend/pay-col-bg-bot.gif) 0 bottom no-repeat; }
img.payment-logo { margin: 0 0 6px 2px; }
#payment-leftcol .sub-basket { width:221px; overflow-x:hidden; background: transparent url(http://css.computicket.com/web/img/frontend/pay-basket.gif) 0 0 repeat-y ; }
#payment-leftcol .sub-basket .bot { background: transparent url(http://css.computicket.com/web/img/frontend/pay-basket.gif) -442px bottom no-repeat; }
#payment-leftcol .sub-basket .top { background: transparent url(http://css.computicket.com/web/img/frontend/pay-basket.gif) -221px 0 no-repeat; }
#payment-leftcol .modal-fullwidth { width:204px; height:208px; margin:0 5px 1px 0; overflow-y:auto; }

/* content modals */

#content-modal { line-height: 120%; }
#content-modal p, #content-modal li { color: #333; }
#content-modal li { margin: 0 0 3px; }
#content-modal a { font-weight: bold; text-decoration: none; color: #ED1C24; }
#content-modal a:hover { text-decoration: underline; }

#content-modal p.terms-links a { color: #aaa; }
#content-modal p.terms-links a.on { color: #ED1C24; }


a.accept { display: block; width: 101px; height: 206px; background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -200px -344px no-repeat; }

span.red { color: #ED1C24; }
td { vertical-align: top; }
.customer-details-form input[type="text"]	{
	background: transparent url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) no-repeat scroll 0 -186px;
	width: 270px; border: 0; height: 17px; line-height: 17px; }

.customer-details-form div.special-attention {
	background: transparent url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) 0 -262px no-repeat;
	width: 335px; height: 78px; padding: 0 1px; }

.customer-details-form div.special-attention textarea { height:76px; margin-left:2px; width:330px; border: 0; }

/* ----------- Bus booking process ------------ */

.continue-process { 
	display: block; width: 78px; height: 26px; padding: 0; color: #fff; float:right;
	background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) 0 -342px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }
	
.choose-return {
	display: block; width: 134px; height: 26px; padding: 0; color: #fff; float:right;
	background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -300px -186px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }

.process { 
	display: block; width: 77px; height: 26px; padding: 0; color: #fff;
	background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -300px -267px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }	

.add-passenger { 
	display: block; width: 117px; height: 26px; padding: 0; color: #fff;
	background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -300px -378px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }
	
.change-tickets { 
	display: block; width: 104px; height: 24px; padding: 0; float: left; margin-right: 5px; color: #fff;
	background: url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) -312px -340px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }
	
.bt-search	{ 
	display: block; width: 67px; height: 26px; padding: 0; float: left; margin-right: 5px;
	background: url(http://css.computicket.com/web/img/frontend/sprite-red.gif) -301px -338px no-repeat;
	border: none; text-indent: -9999px; cursor: pointer; }
	
/* ----------- Transactions modal ------------ */

form#trans-search label { display: block; float: left; width: 100px; color: #797979; }	
form#trans-search span { color: #797979; }
input.trans-cc, input.trans-ref { 
	background:transparent url(http://css.computicket.com/web/img/frontend/sprite-grey.gif) no-repeat 0 -340px;
	font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px; font-weight:normal;
	width:189px; height:16px; padding:4px 0 0 5px; margin: 0 0 2px; border: none; }
input.trans-cancel { margin: 1px 3px 10px 100px; padding: 0; }

.bt-tryagain {
	display: block; width: 80px; height: 26px; text-indent: -9999px; border: none; cursor: pointer;
	background:transparent url(http://css.computicket.com/web/img/frontend/sprite-red.gif) no-repeat -73px -290px; }
	
	
	
.rounded198 { width: 203px; background: url(http://css.computicket.com/web/img/frontend/bg-input-wide.gif) 0 0 no-repeat!important; }
	.rounded198 input { background: none!important; }	 /* profiler */
.rounded270 { background: url(http://css.computicket.com/web/img/frontend/bg-input-large.gif) 0 0 no-repeat!important; }
	.rounded270 input, .contact-form .rounded270 input.input-large { background: none!important; } /* send 2 friend */
.rounded222 { background: url(http://css.computicket.com/web/img/frontend/bg-input-222.gif) 0 0 no-repeat!important; }
	#checkout-login .rounded222 input.wide, #login-slider .rounded222 input { background: none!important; } /* login modal, slider & forgotten password */







	
