@charset "utf-8";
/* CSS Document */

.form{
	float:left;
	padding:30px 5px 30px 18px
}
fieldset{

	float:left;
	padding:10px 10px 0px 10px;
	margin:0px;
}
legend{
	font-size:16px;
	padding:0px 10px;
}
.form .fieldbox{
	float:left;
	margin-bottom:10px;
}
.fieldbox label{
	display:block;
	font-size:11px;
	color:#808080;
	font-weight:bold;
}
.fieldbox input[type=text]{
	height:24px;
	background:#E6E6E6;
	border:1px solid #ccc;
	font-size:11px;
	padding:0px 3px;
}


.fieldbox .destination_input{
	width:240px;
	margin-right:20px;
}


 input[type=submit]:hover{
	cursor:pointer;
}
form .div_box  input[type=submit]{
	background:url(../image/submit.jpg) no-repeat;
	height:30px;
	margin-left:60px;
	width:74px;
	color:#656565;
}
form .div_box  input[type=submit]:hover
{
	cursor:pointer;
	background:#9A4F4E;
}

.fieldbox .date{
	width:70px;
	float:left;
	
}
.fieldbox img{
	float:left;
	margin-right:20px;
	
}
.fieldbox textarea
{
	width:250px;
	height:70px;
	background:#E6E6E6;
	border:1px solid #ccc;
	font-size:11px;
	padding:0px 3px;
	float:left;
	margin-right:20px
	
}
input[type=file]
{
	margin-right:20px;
	background:#E6E6E6;
	border:1px solid #ccc;	
}
select{
	height:24px;
	background:#E6E6E6;
	border:1px solid #ccc;
	margin-right:20px;
	}
.boxfield{
	float:left;
	margin-bottom:10px;
	margin-right:10px;
	width: -moz-available;
	}

.fieldbox .boxfield label{
	display:block;
	font-size:11px;
	color:#808080;
	font-weight:normal;
	
}
