@charset "utf-8";
/* CSS Document */

body {
	background:#f1f1f1;	
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px 22px;
	height:600px;
}
#header{
	background:url(../images/header_bg.jpg) repeat-x;
	width:980px;
	margin:auto;
	height:150px;
}
#header #logo
{
	padding:10px 574px 15px  32px;
	float:left;
}
#header #top_left
{
	padding-top:15px;
	float:left;
	color:#666666;
	
}
#header #bottom_left
{
	padding:10px 0px;
	float:left;
	
	
}
#header #bottom_left #account
{
	padding-right:10px;
	float:left;
	
}

#header #bottom_left #logout 
{
	padding-right:10px;
	float:left;
	border-left:#C8C8C8 solid 1px;
	
}
	
#header #bottom_left #account img
{
	padding:0px 5px 0px 0px;
	float:left;
	
}
#header #bottom_left #logout img
{
	padding:0px 5px 0px 5px;
	float:left;
	
}
#header #bottom_left a
{
	text-decoration:none;
	color:#666666;
	
}
#header #bottom_left a:hover
{
	text-decoration:underline;
	cursor:pointer;
}
#header #navigation{
	width:900px;
	float:left;
	padding:10px 10px 10px 32px;
}
#header	#navigation a{
	padding:10px 10px 10px 10px;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}
#header	#navigation a:hover{
	text-decoration:none;
	background-color:#AD1817;
}
#manage_bottom
{
	float:left;
	padding-left:32px;
}
#manage_bottom .box
{
	float:left;
	height:85px;
	width:95px;
	margin:20px 20px 20px 0px;
	background:#FFFFFF;
	color:#949494;
	text-align:center;
	font-weight:bold;
}
#manage_bottom .box a
{
	text-decoration:none;
	padding:10px 25px;
	float:left;
	
}
#manage_bottom .box a img
{
	border:0px;
	
	}
#container{
	
	width:980px;
	margin:auto;
	
}
#container #content{
	width:914px;
	margin:0px 10px 0px 32px;
	background-color:#FFFFFF;
	float:left;
}
#container #content #top_con{
	width:914px;
	height:40px;
	background:url(../images/top_con.png) repeat-x;
	float:left;
}
 #top_con #page_title{
	
	 padding:10px 565px 10px 18px;
	 font-size:16px;
	 color:#BA4D4C;
 }
 #top_con a{
	 padding:8px 25px;
	 margin-top:10px;
	 text-decoration:none;
	 color:#4D4D4D;
	 background-color:#FFFFFF;
	 float:left;
	 margin-right:10px;
 }
 
 #content .table
 {
	 float:left;
	 border:none;
	 padding:15px 5px 10px 24px;
	 text-align:center;
 }
 
  #content .table .header_table
  {
	  background-color:#FFFFFF;
	  color:#111111;
	  font-weight:bold;
	
  }
 #content .table tbody{
	    border-top:#D8D8D8 solid 2px;
  }

#content .table tr:hover
  {
	  background-color:#EAC5C5;
  }	 
  
tr.game :hover{
  cursor: pointer;
  background-color: #ccc;
}

.table tr td {
	color:#666666;
	height:26px;
	padding-left:12px;
	border-collapse:collapse;
	border:none;
 }

.div_box {
	float:left;
	padding:15px 0px 15px 812px;
	width:124px;
	
}
.div_box .pagination .text{
	float:left;
	font-size:13px;
	color:#4D4D4D;
	margin-top:2px;
}
.div_box .pagination a{
	width:20px;
	height:17px;
	display:block;
	float:left;
	text-align:center;
	padding-top:3px;
	text-decoration:none;
	color:#000;
	margin:0px 5px 0px 5px;
	background:#CCCCCC;
	font-size:11px;
	border:1px solid #999;
}
.div_box .pagination a:hover{
	color:#fff;
	background:#AD1716;
}
?/*#footer{
	height:60px;
	width:980px;
	background-color:#272727;
	
	margin:auto;
	
}*/
#footer img{
	float:left;
	padding:5px 5px 5px 25px;
}
#footer .footer_text
{
	width:120px;
	padding:15px 15px;
	float:left;
	color:#FFF;
	font-size:10px;
	
}
.clear{
	clear:both;
}