[name=list_value] {
	width:100px;
}
[name=list_label] {
	width:350px;
}
#foo{
    height:250px;
    width:250px;
	/*left:150px;
    top:150px;
    background:rgba(0, 0, 0, 0.6);
	background-image:url('logo.jpg');*/
    position:absolute;
    
    color: #fff;
    padding:50px;
}
#bar{
    height:62px;
    width:62px;
   background-color: rgba(0,0,0,0.6);
	/* top:-100px;border-radius:200px;
    left:-100px;
    -webkit-transform: rotate(180deg);*/
	background-image:url('../images/soldout.png');
	
    
    position:absolute;
    
    color: #fff;
}

.ProdDiv {/** image container **/
/**position:relative;
width: 250px; some width in pixels, ems or %
border: thin silver solid;
margin: 0.5em;
padding: 0.5em;
text-align: center;**/
}
.Sold {/** text **/
font:bold 2.5em/1.5em Georgia, "Times New Roman", Times, serif;
color: red;
background: black;
text-align:center;
position: absolute;
/**adjust as needed**/
top: 20%;
left: 5%;
/**note: CSS3 TRANSFORM: ROTATE DOESN'T WORK IN ALL BROWSERS YET**/
-webkit-transform: rotate(-20deg); /**safari, chrome**/
-moz-transform: rotate(-20deg); /**firefox**/
transform: rotate(-20deg); /**other browsers**/
}