 
/*
red bus
*/
.Calendar {
    background-color: #ddd;
    border: 1px solid #aaa;
    box-shadow: 0 3px 10px #999;
    z-index: 1010;
}
.Calendar .CalendarTitle {
    background-color: #666;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.Calendar .monthTable {
    border: 0 none;
    border-collapse: collapse;
    float: left;
    font-size: 12px;
    margin: 0 4px 4px;
}
.Calendar .monthTable.mid {
    margin-left: 0;
    margin-right: 0;
}
.Calendar .monthTable.last {
    margin-left: 0;
}
.Calendar .monthTable.last.first {
    margin-left: 4px;
}
.Calendar .monthTable .monthHeader td {
    border: 0 none;
    height: 40px;
}
.Calendar .monthTable .monthHeader td.monthTitle {
    font-size: 14px;
    font-weight: 700;
}
.Calendar .monthTable .monthHeader td button {
    background-color: transparent;
    border: 0 none;
    color: #000;
    cursor: pointer;
    display: none;
    padding: 10px;
}
.Calendar .monthTable.first .monthHeader td.prev button, .Calendar .monthTable.last .monthHeader td.next button {
    display: block;
}
.Calendar .monthTable.mid .monthHeader td.next button, .monthTable.mid .monthHeader td.prev button {
    display: none;
}
.Calendar .monthTable tr th {
    border: 0 none;
    font-size: 10px;
    font-weight: 400;
    height: 25px;
}
.Calendar .monthTable tr td {
    border: 1px solid #eee;
    color: #666;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}
.Calendar .monthTable tr td.past {
    color: #ccc;
    cursor: default;
}
.Calendar .monthTable tr td.wd {
    cursor: pointer;
}
.Calendar .monthTable tr td.we {
    color: #d0100c;
    cursor: pointer;
}
.Calendar .monthTable tr td.tdy {
    color: #008;
    cursor: pointer;
}
.Calendar .monthTable tr td.day.current {
    background-color: #d0100c;
    color: #fff;
    cursor: pointer;
}
.Calendar .monthTable tr td.day {
    background-color: #fff;
}
.Calendar .monthTable tr td.current:hover, .Calendar .monthTable tr td.tdy:hover, .Calendar .monthTable tr td.wd:hover, .Calendar .monthTable tr td.we:hover {
    background-color: #d0100c;
    color: #fff;
}
ul.autoFill {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #7f9db9;
    font-size: 13px;
    list-style: outside none none;
    margin: 0;
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    z-index: 10;
}
ul.autoFill li {
    cursor: pointer;
    padding: 6px 10px;
}
ul.autoFill li.selected, ul.autoFill li:hover {
    background: #e2eaf4 none repeat scroll 0 0;
}
h1 p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
.top-a {
    display: inherit;
    padding-bottom: 5px;
}
.center-a {
    padding-bottom: 5px;
}
.bottom-a:hover, .center-a:hover, .top-a:hover {
    cursor: pointer;
}
#Search .searchRow {
    margin-bottom: 10px;
}
#Search .searchRow .searchRight {
    float: left;
    padding-left: 40px;
}
#Search .searchRow .NoPaddingRight {
    padding-left: 0;
}
#Search .searchRow .inputLabel {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}
#Search .searchRow .errorMessageFixed {
    color: red;
    display: block;
    font-size: 11px;
    height: 16px;
    margin-top: 2px;
}
#Search .calendar, #Search .switchButton, .busTypeClose, .selectBusType, .servicelist {
    background-image: url("https://st.redbus.in/images/ImagesOpt/home_sprite3.png");
    background-repeat: no-repeat;
}
#Search .calendar {
    background-position: 98% -39px;
    cursor: pointer;
}
#Search .buttonContainer {
    padding-top: 20px;
}
#Search .switchButton {
    background-position: -27px 7px;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 21px 5px 0;
    width: 30px;
}
#Search .dateError {
    color: red;
    font-size: 11px;
    text-align: center;
    visibility: hidden;
}
.selectBusType {
    background-position: 100% -84px;
}
.services {
    color: gray;
    padding: 10px 0 30px;
}
.services .servicelist {
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    padding: 20px 55px;
    width: 28%;
}
.services .route {
    background-position: 0 -231px;
}
.services .busoperator {
    background-position: 0 -330px;
}
.services .ticketsold {
    background-position: 0 -435px;
}
.services .servicedetails {
    display: inline-block;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.servicelist span {
    font-size: 31.5px;
    font-weight: 700;
}
.services h2 {
    font-size: 16.3px;
    font-weight: 400;
}
.busTypeClose {
    background-position: 13px -134px;
    height: 30px;
    width: 30px;
}
.aWrapper {
    width: 300px;
}
@keyframes fromto {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
    transform: translate(302px);
}
}
@keyframes fromto {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
    transform: translate(302px);
}
}
@keyframes tofrom {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
    transform: translate(-302px);
}
}
@keyframes tofrom {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
    transform: translate(-302px);
}
}
@keyframes rotateButton {
100% {
    transform: rotateZ(180deg);
}
}
@keyframes rotateButton {
100% {
    transform: rotateZ(180deg);
}
}
#Search .fromto {
    animation: 0.5s ease 0s normal none 1 running fromto;
}
#Search .tofrom {
    animation: 0.5s ease 0s normal none 1 running tofrom;
}
#Search .rotateButton {
    animation: 0.5s ease 0s normal none 1 running rotateButton;
    cursor: pointer;
}
#toasterRT {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #999 #999 -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    bottom: -110px;
    box-shadow: 0 0 6px #999;
    display: none;
    padding: 15px;
    position: fixed;
    right: 10px;
    width: 325px;
    z-index: 1000;
}
#toasterRT .closeButton {
    cursor: pointer;
    float: right;
}
#toasterRT .title {
    color: #dc2600;
    font-size: 18px;
    margin: 5px 0;
}
#toasterRT .messageBody {
    color: #666;
    font-size: 12px;
    margin: 10px 5px;
}
#toasterRT .messageBody b {
    color: #333;
}
#toasterRT .messageBody a {
    bottom: 5px;
    float: right;
    position: absolute;
    right: 10px;
}
map area {
    outline: 0 none;
}
.ie7 #Search {
    width: 565px;
}
.carousel a {
    border: 1px dashed #fff;
    outline: 0 none;
}
.carousel .first {
    padding: 0 13px 0 0;
}
.carousel .sec {
    border-left: 1px dashed #e0e0e0;
    border-right: 1px dashed #e0e0e0;
    padding: 0 14px;
}
.carousel .third {
    padding: 0 0 0 13px;
}
.inputLabel {
    font-size: 13px;
}
.topPart {
    border-bottom: 1px solid #dedede;
    margin-bottom: 10px;
}
.bookTic {
    font-size: 20px;
}
.carousel img {
    display: block;
}
.searchRow input[type="text"]:focus {
    border: 1px solid #666;
    box-shadow: none;
    outline: 0 none;
}
.mContent {
    padding-bottom: 228px !important;
}
#offer_links {
    margin-bottom: 10px;
}
.promo-banner {
    border-top: 1px solid #dedede;
    padding: 10px 0;
}
.carousel-border {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
}
.promo-banner a {
    outline: 0 none;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::after, blockquote::before, q::after, q::before {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.noVerticalAlign {
    vertical-align: top;
}
html {
    font-size: 100%;
    height: 100%;
}
img {
    display: inline-block;
    vertical-align: middle;
}
a, img {
    border: 0 none;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
@font-face {
    font-family: "redBus";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("//themes.googleusercontent.com/static/fonts/opensans/v9/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "redBus";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("//themes.googleusercontent.com/static/fonts/opensans/v9/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "redBus";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("//themes.googleusercontent.com/static/fonts/opensans/v9/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
    font-family: "redBus";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("//themes.googleusercontent.com/static/fonts/opensans/v9/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
body {
    color: #333;
    font: 400 13px/16px redBus,Arial,Helvetica,sans-serif;
    height: 100%;
}
.MB {
    margin: auto;
    width: 960px;
}
.MainContainer {
    min-height: 100%;
    position: relative;
}
.mContent {
    margin-top: 30px;
}
.BoxModel {
    box-sizing: border-box;
}
.Center {
    margin-left: auto;
    margin-right: auto;
}
.W100 {
    width: 100%;
}
.W90 {
    width: 90%;
}
.W80 {
    width: 80%;
}
.W75 {
    width: 75%;
}
.W70 {
    width: 70%;
}
.W60 {
    width: 60%;
}
.W50 {
    width: 50%;
}
.W40 {
    width: 40%;
}
.W30 {
    width: 30%;
}
.W25 {
    width: 25%;
}
.W21 {
    width: 21%;
}
.W20 {
    width: 20%;
}
.W10 {
    width: 10%;
}
.MarginNone {
    margin: 0;
}
.XXXBMargin {
    margin-right: 60px;
}
.XXBMargin {
    margin-right: 40px;
}
.XBMargin {
    margin-right: 20px;
}
.BMargin {
    margin-right: 10px;
}
.SBMargin {
    margin-right: 5px;
}
.NoMarginBottom {
    margin-bottom: 0;
}
.SCN {
    margin-bottom: 5px;
}
.CN {
    margin-bottom: 10px;
}
.XCN {
    margin-bottom: 20px;
}
.XXCN {
    margin-bottom: 35px;
}
.XXXCN {
    margin-bottom: 60px;
}
.P40 {
    padding: 40px;
}
.P20 {
    padding: 20px;
}
.P25 {
    padding: 25px;
}
.P10 {
    padding: 2px;
}
.P5 {
    padding: 5px;
}
.Padder5 {
    padding: 5px 0;
}
.Padder10 {
    padding: 10px 0;
}
.Padder15 {
    padding: 15px 0;
}
.Padder20 {
    padding: 20px 0;
}
.P17 {
    padding-top: 17px;
}
a {
    color: #3759a5;
    font-size: 12px;
    text-decoration: none;
}
a:focus {
    outline: thin dotted #333;
    outline-offset: 1px;
}
a:active, a:hover {
    outline: 0 none;
    text-decoration: none;
}
.BBorder {
    border-bottom: 1px solid #e0e0e0;
}
.LBorder {
    border-left: 1px solid #e0e0e0;
}
.RBorder {
    border-right: 1px solid #e0e0e0;
}
.TBorder {
    border-top: 1px solid #e0e0e0;
}
.FBorder {
    border: 1px solid #e0e0e0;
}
.NoBorder {
    border: 0 none;
}
.RC {
    border-radius: 5px;
}
.LB {
    float: left;
}
.RB {
    float: right;
}
.CL {
    clear: both;
}
.Hide {
    display: none;
}
.Hidden {
    visibility: hidden;
}
.XXSmall {
    font-size: 10px;
}
.XSmall {
    font-size: 11px;
}
.Small, small {
    font-size: 12px;
}
.Normal {
    font-size: 14px;
}
.Large {
    font-size: 16px;
}
.XLarge {
    font-size: 18px;
}
.XXLarge {
    font-size: 22px;
}
.XXXLarge {
    font-size: 26px;
}
.XXXXLarge {
    font-size: 30px;
}
.Large, .XLarge, .XXLarge, .XXXLarge, .XXXXLarge {
    line-height: 1.4;
}
.White {
    color: #fff;
}
.TextDefault {
    color: #333;
}
.TextBlack {
    color: #000;
}
.Grey {
    color: #999;
}
.XGrey {
    color: #777;
}
.XXGrey {
    color: #666;
}
.XXXGrey {
    color: #555;
}
.Red {
    color: #d02025;
}
.Orange {
    color: #b25900;
}
.Green {
    color: #85b200;
}
.Blue {
    color: #3759a5;
}
.TextWarning {
    color: red;
}
.TextOk {
    color: #ea6c00;
}
.TextNormal, cite {
    font-weight: 400;
}
.TextBold, b, strong {
    font-weight: 700;
}
.TextLight {
    font-weight: 300;
}
.TextSemiBold {
    font-weight: 600;
}
.TextItalic, em {
    font-style: italic;
}
.TextLeft {
    text-align: left;
}
.TextRight {
    text-align: right;
}
.Textjustify {
    text-align: justify;
}
.TextCenter {
    text-align: center;
}
.TextLineThrough {
    text-decoration: line-through;
}
.TextUnderline {
    text-decoration: underline;
}
.TextMiddle {
    vertical-align: middle;
}
.TextCapitalize {
    text-transform: capitalize;
}
.TextUppercase {
    text-transform: uppercase;
}
.Truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Paragraph {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    line-height: 1.4;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: 400;
    line-height: 1;
}
h2 {
    font-size: 31.5px;
}
h3 {
    font-size: 24.5px;
}
h4 {
    font-size: 17.5px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 11.9px;
}
h1 small {
    font-size: 24.5px;
}
h2 small {
    font-size: 17.5px;
}
h3 small, h4 small {
    font-size: 14px;
}
.PosR {
    position: relative;
}
.PosA {
    position: absolute;
}
.PosF {
    position: fixed;
}
.PosS {
    position: static;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
}
.Pointer, button, input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], select {
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
select {
    padding: 4px 5px !important;
    width: auto !important;
}
input[type="email"], input[type="password"], input[type="text"], select, textarea {
    border: 1px solid #c4c4c4;
    color: #333;
    margin: 0;
    padding: 5px 10px;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, select:focus, textarea:focus {
    box-shadow: 0 0 12px #ddd;
    outline: 0 none;
}
.Sinput {
    padding: 5px 10px !important;
    width: 30px;
}
.Xinput {
    padding: 6px 10px !important;
    width: 190px;
}
.XXinput {
    padding: 5px 10px !important;
    width: 240px;
}
.XXXinput {
    padding: 6px 10px !important;
    width: 330px;
}
.button {
    display: inline-block;
    font-weight: 600;
}
.ancLink, .button, button, input[type="button"], input[type="submit"] {
    background-color: #e24648;
    background-position: 96% center;
    background-repeat: no-repeat;
    border: 0 none;
    border-radius: 2px;
    color: #fff;
    padding: 6px 20px;
    text-indent: 0;
    transition: all 0.2s ease 0s;
}
button[disabled="disabled"], button[disabled="disabled"]:active, button[disabled="disabled"]:focus, button[disabled="disabled"]:hover, input[type="button"][disabled="disabled"], input[type="button"][disabled="disabled"]:active, input[type="button"][disabled="disabled"]:focus, input[type="button"][disabled="disabled"]:hover, input[type="submit"][disabled="disabled"], input[type="submit"][disabled="disabled"]:active, input[type="submit"][disabled="disabled"]:focus, input[type="submit"][disabled="disabled"]:hover {
    background-color: #999;
    cursor: auto;
    transform: scale(1);
}
button.loading, input.loading[type="button"], input.loading[type="submit"] {
    background-color: #999 !important;
    background-image: url("/images/buttonLoader.gif");
    padding-right: 30px;
}
.ancLink:focus, .ancLink:hover, .button:focus, button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover, input[type="submit"]:focus, input[type="submit"]:hover {
    background-color: #e7100c;
    outline: 0 none;
}
.ancLink:active, .button:active, button:active, input[type="button"]:active, input[type="submit"]:active {
    outline: 0 none;
    transform: scale(0.97);
}
.Xbutton {
    font-size: 16px;
    padding: 6px 25px !important;
}
.Sbutton {
    font-size: 12px;
    padding: 4px 10px;
}
.Mark {
    background-color: #dbe5f1;
    border: 1px solid #b9cce3;
    border-radius: 2px;
    color: #777;
    font-size: 10px;
    margin: 0 3px;
    padding: 3px;
    width: 66px;
}
.TSB ul, footer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.TSB ul.inline, footer ul.inline {
    list-style: outside none none;
    margin-left: 0;
}
.TSB ul.inline > li, footer ul.inline > li {
    display: inline-block;
}
.notificationBackground {
    background: #eee none repeat scroll 0 0;
}
.TSB {
    background-color: #f5f5f5;
    border-bottom: 1px solid #dedede;
    height: 36px;
    line-height: 35px;
    min-width: 960px;
}
.numArrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #777;
    cursor: pointer;
    display: inline-block;
    height: 0;
    margin: 0;
    width: 0;
}
.TSB a {
    color: #777;
    text-decoration: none;
}
.TD a {
    text-decoration: none;
}
.TD a:hover, a:focus {
    text-decoration: underline;
}
.OH {
    overflow: hidden;
}
ul.DropList {
    background: #fff none repeat scroll 0 0;
    border-top: 0 none;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    line-height: 18px;
    max-height: 205px;
    overflow-y: scroll;
    position: absolute;
    top: 37px;
    width: 238px;
    z-index: 100;
}
.CustomerCareCityHolder {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    outline: medium none !important;
    padding: 1px 5px 1px 10px;
    width: 225px;
}
#tollcityName, #tollcustcareNum {
    color: #000;
    font-weight: 600;
    margin-right: 10px;
}
#tollcustcareNum {
    margin-right: 5px !important;
}
ul.DropList li {
    list-style: outside none none;
}
ul.DropList li a {
    cursor: pointer;
    display: block;
    list-style: outside none none;
    overflow: hidden;
    padding: 3px 10px;
}
ul.DropList li a:focus, ul.DropList li a:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    outline: medium none !important;
}
.TSB .anchorColor {
    color: #305aa0;
}
.mainHeader {
    padding: 10px 10px 8px 0;
    width: 100%;
}
.adserverBlock {
    color: #333;
    font: 300 34px redBus,sans-serif;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 560px;
}
.authContainer .auth {
    float: left;
}
.authContainer {
    float: left;
    margin-left: 15px;
}
.authContainer .auth a {
    font-size: 11px;
}
.authContainer .auth .hi {
    color: #d02025;
    font-size: 11px;
    font-weight: 700;
    margin-right: 5px;
}
.authContainer .auth #signInLink {
    color: #305aa0;
    font-size: 12px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 3px;
}
.authContainer .auth .optional {
    color: #7f7f7f;
    font-size: 10px;
}
.authContainer .auth #accountLink, .authContainer .auth #signOutLink {
    color: #305aa0;
    font-size: 12px;
}
.authContainer .auth #accountLink {
    margin-right: 2px;
}
.authContainer .auth #signOutLink {
    margin-left: 2px;
}
.icon-login_arrow {
    display: inline-block;
}
.SignInBlock {
    min-width: 170px;
    text-align: center;
}
footer {
    bottom: 0;
    clear: both;
    margin: 20px 0 0;
    position: absolute;
    width: 100%;
}
footer .RB a {
    text-decoration: none;
}
footer ul.inline > li {
    float: left;
    padding-right: 5px;
}
.supLi sup {
    color: #e12208;
    font-size: 0.82em;
    line-height: 0.5em;
    position: relative;
    top: -0.4em;
    vertical-align: baseline;
}
header .supLi sup {
    font-size: 0.82em;
}
.hotels section {
    width: 16.6%;
}
.footerBG {
    background-color: #e8e8e8;
}
.morelinksftrlinks {
    font-size: 11px;
    margin: 0 14px 0 0;
    text-decoration: none;
}
.groupSprite {
    background: rgba(0, 0, 0, 0) url("../images/group_sprite.gif") no-repeat scroll left top;
    height: 29px;
    margin: 0 10px 0 0;
    opacity: 0.6;
}
.ibGrp {
    background-position: 0 0;
    float: left;
    width: 78px;
}
.goib {
    background-position: -111px 0;
    float: left;
    width: 55px;
}
.redBus {
    background-position: -172px 0;
    float: left;
    width: 46px;
}
.tradus {
    background-position: -226px 0;
    float: left;
    width: 66px;
}
.gaadi {
    background-position: -302px 0;
    float: left;
    width: 51px;
}
.ads {
    background-position: -367px 0;
    float: left;
    width: 54px;
}
.backslash {
    background-position: -90px 0;
    float: left;
    opacity: 1;
    width: 15px;
}
a.groupSprite:hover {
    opacity: 1;
}
.ibiboCp {
    color: #d2d2d2;
    font-size: 12px;
    padding-top: 10px;
}
.ibiboFooter {
    margin-bottom: 5px;
    overflow: hidden;
}
#signIn {
    max-width: 500px;
    text-align: left;
}
#signIn h2, #signIn h3 {
    color: #d02025;
}
#signIn h2 {
    background: #eee none repeat scroll 0 0;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
#signIn .center {
    text-align: center;
}
#signIn .socialContainer {
    height: 50px;
    margin: 0 auto;
    width: 335px;
}
#signIn .socialButton {
    border-radius: 3px;
    display: block;
    float: left;
    margin: 5px 10px;
    overflow: hidden;
    text-align: center;
}
#signIn .socialButton:hover {
    cursor: pointer;
}
#signIn .socialButton span.icon {
    float: left;
    height: 35px;
    padding-right: 5px;
    width: 35px;
}
#signIn .socialButton span.buttonText {
    float: left;
    font-weight: 600;
    line-height: 35px;
    width: 100px;
}
#signIn #facebookBtn {
    background: #46629c none repeat scroll 0 0;
    color: #fff;
}
#signIn #facebookBtn:hover {
    background: #5470aa none repeat scroll 0 0;
}
#signIn #facebookBtn span.icon {
    background: transparent url("/images/fbwhite.png") no-repeat scroll 5px 50%;
    border-right: 1px solid #374f8a;
}
#signIn #googlePlusBtn {
    background: #dd4b39 none repeat scroll 0 0;
    color: #fff;
}
#signIn #googlePlusBtn:hover {
    background: #e74b37 none repeat scroll 0 0;
}
#googlePlusBtn span.icon {
    background: transparent url("/images/gplus.png") no-repeat scroll 5px 50%;
    border-right: 1px solid #bb3f30;
}
#signIn .sbar {
    float: left;
    font-size: 20px;
    line-height: 50px;
}
#signIn .inputContainer {
    margin-top: 10px;
    position: relative;
    width: 352px;
}
#signIn .inputContainer.M0 {
    margin: 0;
}
#signIn .inputContainer label {
    color: #585858;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
    text-align: right;
    width: 125px;
}
#signIn .inputContainer input[type="checkbox"] {
    margin: 0 4px;
}
#signIn .inputContainer label.rememberMe {
    color: #989898;
    display: inline;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 10px;
}
#signIn .registerLink {
    border-top: 1px dashed #909090;
    font-size: 11px;
    margin: 10px 15px 0;
    overflow: hidden;
    padding: 5px 0;
}
#signIn .forgotPasswordLink, #signIn .registerLink a {
    font-size: 11px;
    margin-left: 6px;
    text-decoration: none;
}
#signIn .registerLink a {
    float: right;
}
#signIn .noLoginNeeded {
    color: #bfbfbf;
    font-size: 10px;
    margin: 10px 0;
    text-align: center;
}
#signIn .expForgot {
    font-size: 12px;
    margin: 15px;
}
#signIn .backLink {
    margin: 0 15px;
}
#signIn #createAccountView, #signIn #forgotPasswordView {
    display: none;
}
#signIn .loginSpinner {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
#signIn .loginSpinner img {
    margin-top: 100px;
}
#signIn .statusMessage {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fcfce1;
    border-color: #fc0 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    display: none;
    font-size: 12px;
    font-weight: 700;
    margin: 10px 25px;
    padding: 10px;
    text-align: center;
}
#signIn .statusMessage span {
    color: #305aa0;
}
#signIn .errorParent input {
    border: 1px solid #ff4f4f !important;
}
#signIn .spinnerLoading {
    background: rgba(0, 0, 0, 0) url("../images/spinner.gif") no-repeat scroll 0 7px;
    display: inline-block;
    height: 22px;
    margin: 0 4px;
    width: 22px;
}
#signIn #loginMessage {
    color: red;
    display: none;
    font-size: 11px;
    margin: 5px 0;
    text-align: center;
}
#signIn .loginWaitMessage {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin: 25px auto;
    width: 300px;
}
.bkmrk-main-bkgrnd {
    background-color: #e07a1f;
    height: 30px;
    width: 100%;
}
.bkmrk-main-bkgrnd-center {
    margin: 0 auto;
    width: 960px;
}
.bkmrk-text-left {
    color: #fff;
    float: left;
    font: 14px Arial;
    margin-left: 30px;
    margin-top: 7px;
}
.bkmrk-center-bkmrkus {
    background-color: #844a00;
    color: #fff;
    float: left;
    height: 30px;
    margin: 0 20px 0 10px;
    padding-right: 10px;
}
.bkmrk-center-bkmrkus-arrow {
    background-image: url("/Images/Bkmrk-Arrow-Right.gif");
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    margin: 9px 0 0 8px;
    width: 8px;
}
.bkmrk-center-bkmrkus-text {
    cursor: pointer;
    float: left;
    font: 14px Arial;
    margin: 7px 7px 15px;
    text-decoration: underline;
}
.bkmrk-nothanks {
    background-color: #b06300;
    color: #fff;
    float: left;
    height: 30px;
}
.bkmrk-text-nothanks {
    cursor: pointer;
    float: left;
    font: 14px Arial;
    padding: 7px 15px 0;
    text-decoration: underline;
}
.bkmrk-clear {
    clear: both;
}
.modal .modalPos {
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 1px;
    z-index: 1002;
}
.modal .modalBG {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.85;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
}
.modal .modalScroller {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1002;
}
.modal .modalFrame {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #999;
    height: 300px;
    left: -150px;
    position: relative;
    top: -150px;
    width: 300px;
}
.modal .modalContent {
    height: 100%;
    width: 100%;
}
.modal .modalCloseSmall {
    background-image: url("../images/signin.sprite.png");
    background-position: -1px 0;
    background-repeat: no-repeat;
    display: block;
    margin: 21px 8px 0 0;
    padding: 9px 8px;
    position: absolute;
    right: 3px;
    top: 6px;
    transition: all 0.5s ease 0s;
}
.modal .modalCloseSmall:hover {
    cursor: pointer;
}
.modal .modalClose {
    background: #999 none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font: 700 16px redBus;
    padding: 4px 10px;
    position: absolute;
    right: -20px;
    top: -18px;
    z-index: 10;
}
.modal .modalIframe {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.phnumbs .verSpace {
    height: 10px;
}
.footers {
    margin: 10px auto 0;
    width: 960px;
}
#redBusAdvantage .pageHeadingSmall {
    padding-bottom: 12px;
}
.pageHeadingBold {
    border-top: 0 none !important;
}
@media print {
* {
    background: transparent none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]::after {
    content: " (" attr(href) ")";
}
abbr[title]::after {
    content: " (" attr(title) ")";
}
.ir a::after, a[href^="javascript:"]::after, a[href^="#"]::after {
    content: "";
}
blockquote, pre {
    border: 1px solid #999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
img, tr {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
@page {
    margin: 0.5cm;
}
h2, h3, p {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
}
.ie7 .numArrow {
    margin-top: -12px;
}
.ie7 #tollCity {
    width: 245px;
}
.ie7 ul.DropList {
    right: 0;
    width: 245px;
}
.errorMessageFixed {
    color: red;
    display: block;
    font-size: 11px;
    height: 16px;
    margin-top: 2px;
    text-align: right;
}
.asterik {
    color: #d02025;
    font-size: 11px;
    padding-left: 2px;
    vertical-align: bottom;
}
.bCrumbs a {
    color: #d0100c;
    font-size: 16px;
    font-weight: 600;
    padding: 0 15px;
}
.bCrumbs a:last-child {
    border-right: 0 none;
}
.bCrumbs .active {
    color: #000;
}
.moreLinks ul li {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
}
footer ul li a {
    color: #666;
}
footer ul li a:hover {
    color: #d0100c;
}
.super {
    font-size: 9px;
    font-style: italic;
    left: 60px;
    position: absolute;
    top: -10px;
}
#browserHappy {
    background-color: #e07a64;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    padding: 15px;
    text-align: center;
    z-index: 20;
}
#browserHappy a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}
.adImages {
    background-color: #e8e8e8;
    text-align: center;
    width: 100%;
}
.bannerImage {
    background-position: center center;
    background-repeat: no-repeat;
    height: 50px;
}
.securetxt {
    background: rgba(0, 0, 0, 0) url("../images/secure.png") no-repeat scroll 0 9px;
    line-height: 13px;
    margin-top: 5px;
    padding: 9px 30px 0;
}
#ibibo_venture {
    margin: auto;
    padding: 5px 0;
    width: 960px;
}
#ibibo_venture, #ibibo_venture ul {
    overflow: hidden;
}
#ibibo_venture ul li a, #ibibo_venture ul li strong {
    float: left;
    height: 30px;
    width: 69px;
}
#ibibo_venture ul li {
    float: left;
}
#ibibo_venture ul li a span {
    display: block;
    height: 30px;
    transition: opacity 1s ease-out 0s;
    width: 69px;
}
#ibibo_venture ul li a span, #ibibo_venture ul li strong {
    background-color: transparent;
    background-image: url("//st.redbus.in/Images/logos/ibibogroup_venture.png");
    background-repeat: no-repeat;
}
#ibibo_venture ul li strong {
    background-position: -82px 0;
    display: block;
    width: 20px;
}
#ibibo_venture ul li a span:first-child {
    opacity: 1;
}
#ibibo_venture ul li a span:last-child {
    margin-top: -30px;
    opacity: 0;
    position: relative;
}
#ibibo_venture ul li a:hover span:first-child {
    opacity: 0;
}
#ibibo_venture ul li a:hover span:last-child {
    opacity: 1;
}
#ibibo_venture ul li a span.ibibogroup-grey {
    background-position: -3px -30px;
}
#ibibo_venture ul li a span.ibibogroup {
    background-position: -3px 1px;
}
#ibibo_venture ul li a span.goibibo-grey {
    background-position: -99px -31px;
}
#ibibo_venture ul li a span.goibibo {
    background-position: -99px 0;
}
#ibibo_venture ul li a span.redbus-grey {
    background-position: -160px -31px;
}
#ibibo_venture ul li a span.redbus {
    background-position: -160px 0;
}
#ibibo_venture ul li a span.ibiboads-grey {
    background-position: -220px -31px;
}
#ibibo_venture ul li a span.ibiboads {
    background-position: -220px 0;
}
#ibibo_venture .products {
    float: left;
}
#ibibo_venture .copyright {
    float: right;
}
#ibibo_venture .copyright span {
    color: #d2d2d2;
    font-size: 12px;
    line-height: 40px;
    padding-top: 10px;
}

