
body { font-family: Arial, Helvetica, sans-serif; }

/*#topbar, #header, #navigation, #find, #col-full-other-events, .sidebar, #footer, h1 a, #wrap-related-packages, ul.content-tabs, div.icons-summary, h1.grey, div.bestavail-right, div.bestavail-left, .search-in-h2, .view-options, #pagination, .crumbs, .package-icons { display: none; }*/

h1 { color: #000; text-transform: capitalize; font-size: 20px; }
h6 { font-size: 14px; font-weight: bold; margin: 0; }
table.booking, table.select, label, .price_div, p, select { font-size: 12px; }
select { border: none; }
.extra-info { margin-top: 20px; }

td.big-photo img { margin-right: 15px; }
.sub-col-1 { float: left; }

.tab { clear: both; }

#events-listing table td { vertical-align: top; }
