@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:url(../images/body_bg.jpg) repeat-x #fff;
}
#header{
	width:980px;
	height:129px;
	margin:auto;
	padding-top:30px;
}
#header .logo{
	float:left;
	margin-left:10px;
}
#header form{
	width:490px;
	float:left;
	margin-left:74px;
}
#header form .boxfield{
	float:left;
	height:45px;
	width:210px;
}
#header form label{
	font-size:12px;
	color:#fff;
	display:block;
	height:17px;
}
#header form .boxfield input[type=text]{
	width:194px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
	margin:0px 10px 0px 0px;
	padding:0px 3px;
}
#header form .boxfield input[type=password]{
	width:194px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
	margin:0px 10px 0px 0px;
	padding:0px 3px;
}
#header form input[type=submit]{
	width:60px;
	height:24px;
	background:url(../images/button_bg.jpg) repeat-x;
	color:#0F243E;
	font-size:13px;
	float:left;
	border:0px;
	padding-bottom:5px;
	margin-top:15px;
	border:1px solid #666;
}
#header form input[type=submit]:hover{
	cursor:pointer;
	color:#FF0;
}
#header form input[type=checkbox]{
	float:left;
	margin:0px 5px 0px 0px;
}
#header form .keepmeloggedin{
	float:left;
}
#header form a{
	display:block;
	float:left;
	text-decoration:none;
	color:#fff;
}
#header form a:hover{
	text-decoration:underline;
}
#container{
	width:980px;
	margin:auto;
	margin-bottom:30px;
}
.clear{clear:both;}
#left{
	width:460px;
	float:left;
}
#left .slogan{
	float:left;
	position:relative;
	top:41px;
	z-index:1;
}
#left .mainimage{
	float:left;
	position:relative;
	top:-47px;
	z-index:0;
}
#main{
	/*width:520px;
	float:left;*/
}
#main .content{
	/*width:500px;*/
	float:left;
	border:1px solid #ccc;
}
/* PUBLIC TABS */
._pageTabContainer {
	width:501px;
	height:26px;
	float:left;
	position:relative;
	border-bottom:1px solid #ccc;
}
._pageTab {
	width:166px;
	height:19px;
	display:block;
	float:left;
	color:#0F243E;
	font-weight:bold;
	font-size:10px;
	text-decoration:none;
	text-align:center;
	padding-top:7px;
	border-right:1px solid #666;
	/*position:absolute;*/
}
._pageTabUnselected {
	background:url(../images/current_bg.jpg) repeat-x;
}
._pageTabSelected {
	background:url(../images/active_bg.jpg) repeat-x;
}
._pageTabUnselected:hover {
	background:url(../images/active_bg.jpg) repeat-x;
	cursor:pointer;
}
._tabContent {
	width:473px;
	float:left;
	background:url(../images/box_bg.png) repeat-x;
	padding:20px 10px 10px 17px;
}
/* END PUBLIC TABS */
/*
.content .tabCon{
	width:500px;
	height:26px;
	float:left;
	position:relative;
	border-bottom:1px solid #ccc;
}
#main .tabCon a{
	height:19px;
	display:block;
	float:left;
	background:url(../images/current_bg.jpg) repeat-x;
	color:#0F243E;
	font-weight:bold;
	font-size:10px;
	text-decoration:none;
	text-align:center;
	padding-top:7px;
	position:absolute;
}
#main .tabCon a:hover{
	background:url(../images/active_bg.jpg) repeat-x;
}

#single{
	width:160px;
	left:0px;
	border-right:1px solid #666;
	background:url(../images/active_bg.jpg) repeat-x;
}
#friendship{
	width:170px;
	left:161px;
	border-right:1px solid #666;
}
#family{
	width:168px;
	left:332px;
}
*/
/*
.content form{
	width:473px;
	float:left;
	background:url(../images/box_bg.png) repeat-x;
	padding:20px 10px 10px 17px;
}
*/
.content form .title{
	width:473px;
	float:left;
	color:#1E3550;
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
}
/*
.content form .boxfield{
	float:left;
	margin:5px 10px 10px 5px;

	border:1px solid red;
}
.content form .boxfield1{
	float:left;
	margin-bottom:10px;
}
.content form .boxfield label{
	font-size:12px;
	color:#0F243E;
	display:block;
	height:17px;
}
*/
/*
.content form .first{width:240px;}
.content form .second{width:216px;}
*/
/*
.content form .boxfield1 label{
	font-size:12px;
	color:#0F243E;
	display:block;
	float:left;
}
*/
/*
.content form .boxfield input[type=text]{
	height:20px;
	line-height:20px;
	vertical-align:middle;
	border:1px solid #ccc;
}
*/
/*.content form .boxfield input{width:221px;}*/
/*
.content form .date{
	width:111px;
	float:left;
}
*/
.content form input[type=submit]{
	width:100px;
	height:24px;
	background:url(../images/button_bg.jpg) repeat-x;
	color:#0F243E;
	font-size:13px;
	float:left;
	border:0px;
	padding-bottom:5px;
	border:1px solid #666;
}
.content form input[type=submit]:hover{
	cursor:pointer;
	color:#FF0;
}
/*
.content form input[type=radio]{
	float:left;
	margin:0px 5px 0px 5px;
}
*/
/*
.content form input[type=file]{
	width:120px;
}
*/
.content form .imgCon{
	width:120px;
	height:70px;
	background:#fff;
	border:1px solid #ccc;
}
/*
.content form .boxfield .date_input{
	width:79px;
	margin-right:0px;
}
.content form .boxfield .calendar{
	float:right;
	margin-right:5px;
}
.content form .boxfield .pobox_input{
	width:460px;
}
*/
/*
.marital{
	width: 110px;
	height: 24px;
}
.Countryselect,
.cityselect,
.citizenshipselect,
.languagesselect {
	height:26px;
	border:1px solid #ccc;
	width:224px;
	}
*/
#join{
	padding: 10px;
	}
.freejoin{
	font-size: 16px;
	font-weight: bold;
	display: block;
	color:#036;
	text-align: right;}
.invite{
	color:#06F;
	text-align: right;
	display:block;
	}