
body {
    background: #222 url("../img/black-Linen.png") repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
}
h1 {
    color: #eee;
    margin-top: 0;
}
h2 {
    font-size: 1.75em;
}
h3 {
    font-size: 1.25em;
}
hr {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ddd;
}
.navbar {
    box-shadow: 0 0 3px #000000;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 20;
}
.navbar .brand {
    text-shadow: none;
}
.navbar .navbar-inner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 97, 0, 0.5) none repeat scroll 0 0 padding-box;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin: 0;
    padding: 0 1em;
}
.navbar .nav {
    margin: 0 -1em 0 0;
}
.navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
}
.navbar .nav > li:hover {
    background-color: #444;
}
.navbar .nav > li > a:hover {
    color: #fff;
}
.navbar .dropdown-menu a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
}
.navbar .nav li.dropdown.open > .dropdown-toggle {
    background-color: #444;
    color: #fff;
}
.content {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #111;
    margin-left: 240px;
    margin-top: 6px;
   /* min-height: 800px;*/
    min-width: 400px;
    position: relative;
}
.header {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #e6e6e6 0%, #ffffff 100%) repeat scroll 0 0;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    padding: 0 1.25em;
}
.header h1 {
    color: #333;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
    padding: 0;
}
.breadcrumb {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #fff;
    border-radius: 0;
    border-top: 1px solid #fafafa;
    box-shadow: none;
    margin-bottom: 0.5em;
}
.page-content {
    padding: 1em;
}
footer {
    color: #666;
    font-size: 0.85em;
    line-height: 1.3em;
    margin-top: 4em;
    padding: 1em;
}
footer hr {
    margin: 2em -2em;
}
.btn-toolbar.quick-toolbar {
    float: right;
}
.btn-toolbar.quick-toolbar .btn {
    display: inline-block;
    height: 60px;
    width: 60px;
}
.stats p.stat {
    margin: 1em 0 0 1em;
}
.stats .stat {
    float: right;
    line-height: 2.5em;
    margin-left: 1em;
}
.stats .stat .number {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #e0e0e0 0%, #ffffff 100%) repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 0 #ffffff;
    font-weight: bold;
    margin-right: 0.5em;
    padding: 0.5em;
    text-shadow: 1px 1px 1px #fff;
}
.block {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 1em 0;
}
.block-heading {
    border-bottom: 1px solid #a6a6a6;
    border-left: medium none;
    color: #505050;
    display: block;
    font-weight: bold;
    line-height: 3em;
    margin-bottom: 0;
    text-shadow: none;
    text-transform: none;
}
.block-heading .block-icon {
    border-left: medium none;
    border-right: 1px solid #aaa;
}
.block-heading .block-icon a {
    padding: 0;
}
.block-heading .block-icon [class*="icon-"] {
    line-height: 1em;
    padding: 0 1em;
}
.block-heading .block-icon.pull-right {
    border-left: 1px solid #aaa;
    border-right: medium none;
}
.block-heading .label {
    box-shadow: 1px 1px 0 #ffffff;
    float: right;
    line-height: 1.5em;
    margin-right: 0.75em;
    margin-top: 0.5em;
}
p.block-heading, a.block-heading, .block-heading a {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #dddddd 0%, #fafafa 100%) repeat scroll 0 0;
    border-top: 1px solid #fff;
    color: #505050;
    display: block;
    outline: medium none;
    padding-left: 1em;
}
a.block-heading:hover, .block-heading a:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #dddddd 0%, #fdfdfd 100%) repeat scroll 0 0;
    color: #505050;
}
.block-body {
    margin: 1em;
    min-height: 0.25em;
}
.block-body h1, .block-body h2, .block-body h3, .block-body h4, .block-body h5, .block-body h6, .block-body table {
    margin-top: 12px;
}
.block-body.collapse {
    margin-bottom: 0;
    margin-top: 0;
}
.sidebar-nav {
    border-left: medium none;
    border-top: medium none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    float: left;
    margin: 0 6px;
    position: absolute;
    width: 228px;
}
.sidebar-nav form.search {
    margin: 0;
    padding: 0.5em 1em 0.5em 0;
}
.sidebar-nav form.search input {
    background: #eee none repeat scroll 0 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.sidebar-nav .nav-header {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #003300 0%, #004000 100%) repeat scroll 0 0;
    border-bottom: 1px solid #000d00;
    border-left: medium none;
    border-top: 1px solid #004d00;
    color: #bbb;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 2.5em;
    margin-bottom: 0;
    padding: 0 0.25em;
    text-shadow: none;
    text-transform: none;
}
.sidebar-nav .nav-header .label {
    float: right;
    line-height: 1.5em;
    margin-right: 0.25em;
    margin-top: 0.5em;
}
.sidebar-nav .nav-header:hover {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #003300 0%, #004500 100%) repeat scroll 0 0;
}
.sidebar-nav .nav-header.collapsed .icon-chevron-up::before {
    content: "";
}
.sidebar-nav .nav-header .icon-chevron-up {
    float: right;
}
.sidebar-nav .nav-header .label {
    float: right;
    line-height: 1.5em;
    margin-top: 0.7em;
}
.sidebar-nav .nav-header i[class^="icon-"] {
    margin-right: 0.75em;
}
.sidebar-nav .nav-list {
    background: #002e00 none repeat scroll 0 0;
    border: 0 none;
    margin: 0;
}
.sidebar-nav .nav-list > li > a:hover {
    background: #007f00 none repeat scroll 0 0;
}
.sidebar-nav .nav-list > .active > a, .sidebar-nav .nav-list > .active > a:hover {
    background: #007f00 none repeat scroll 0 0;
}
.sidebar-nav .nav-list > li > a {
    color: #bbb;
    padding: 0.5em 1em;
    text-shadow: none;
}
.sidebar-nav .nav-list.collapse {
    border-bottom: 0 none;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: #113355;
    background-image: -moz-linear-gradient(center top , #446688, #113355);
}
.btn-primary:hover {
    background-color: #113355;
}
.btn-danger {
    background-color: #553333;
    background-image: -moz-linear-gradient(center top , #886666, #553333);
}
.btn-danger:hover {
    background-color: #553333;
}
.btn-success {
    background-color: #556665;
    background-image: -moz-linear-gradient(center top , #88aa88, #556665);
}
.btn-success:hover {
    background-color: #556665;
}
.btn-warning {
    background-color: #aaaa55;
    background-image: -moz-linear-gradient(center top , #dddd77, #aaaa55);
}
.btn-warning:hover {
    background-color: #aaaa55;
}
.well {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 1px 1px 0 #ffffff;
}
.faq-content ul, .faq-content ol {
    padding-left: 1em;
}
.faq-content ul .top, .faq-content ol .top {
    float: right;
    line-height: 1.25em;
    padding: 0.75em 0;
}
.gallery {
    text-align: center;
}
.gallery > img {
    margin: 0.5em;
}
.img-polaroid {
    border: 1px solid #ddd;
    box-shadow: none;
}
.dialog, .row .dialog, .row-fluid .dialog, .row-fluid .dialog[class*="span"]:first-child {
    float: none;
    margin: 5em auto 0;
    width: 400px;
}
.dialog input[type="checkbox"], .row .dialog input[type="checkbox"], .row-fluid .dialog input[type="checkbox"], .row-fluid .dialog[class*="span"]:first-child input[type="checkbox"] {
    margin: 0;
}
.dialog .alert, .row .dialog .alert, .row-fluid .dialog .alert, .row-fluid .dialog[class*="span"]:first-child .alert {
    margin-bottom: 1em;
}
.dialog form, .row .dialog form, .row-fluid .dialog form, .row-fluid .dialog[class*="span"]:first-child form {
    margin-bottom: 0;
}
.dialog .remember-me, .row .dialog .remember-me, .row-fluid .dialog .remember-me, .row-fluid .dialog[class*="span"]:first-child .remember-me {
    padding: 0.5em 0 0;
}
input[type="text"], input[type="password"] {
    background-clip: padding-box;
    border-radius: 0;
}
.alert {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #f7ecb5 0%, #fcf8e3 100%) repeat scroll 0 0;
    border: 1px solid #f2e187;
    border-radius: 0;
    margin-top: 1em;
    padding: 0.5em 1em;
}
.alert .close {
    right: -0.25em;
}
.alert.alert-error {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #963b3b 0%, #b84c4c 100%) repeat scroll 0 0;
    border: 1px solid #712d2d;
    color: white;
    text-shadow: none;
}
.alert.alert-info {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #afd9ee 0%, #d9edf7 100%) repeat scroll 0 0;
    border: 1px solid #85c5e5;
}
.alert.alert-success {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #c1e2b3 0%, #dff0d8 100%) repeat scroll 0 0;
    border: 1px solid #a3d48e;
}
body .http-error {
    border-bottom: 1px solid #292929;
    border-top: 1px solid #000;
    color: #444;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 5em auto 0;
    text-align: center;
}
body .http-error .http-error-message {
    border-bottom: 1px solid #000;
    border-top: 1px solid #292929;
    padding: 3em 0;
}
body .http-error .error-caption {
    background: #333 none repeat scroll 0 0;
    border: 2px solid #ccc;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    color: #fff;
    display: inline-block;
    height: 7em;
    padding: 0 3em;
    text-shadow: 1px 1px 1px #000;
}
body .http-error .error-caption p {
    position: relative;
    top: 2.75em;
}
body .http-error .error-message {
    background: #eee none repeat scroll 0 0;
    border: 2px solid #444;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
    color: #333;
    display: inline-block;
    height: 7em;
    padding: 0 3em;
    text-shadow: 1px 1px 1px #eee;
}
body .http-error .error-message .return-home {
    float: left;
    font-size: 0.65em;
    position: relative;
    text-align: right;
    top: 4em;
}
body .http-error .error-message p {
    position: relative;
    top: 2.75em;
}
body .http-error p {
    margin: 0;
}
.nav-tabs > li {
    margin-left: 0.5em;
}
.nav-tabs > li > a {
    background-clip: padding-box;
    border-radius: 0;
}
.modal {
    background-clip: padding-box;
    border-radius: 0;
}
.modal.small {
    margin: -170px 0 0 -200px;
    width: 400px;
}
.modal .modal-icon {
    float: left;
    font-size: 4em;
    margin-right: 0.25em;
    vertical-align: middle;
}
.modal:focus {
    outline: medium none;
}
.modal .modal-header h3 {
    font-size: 0.95em;
}
.modal .modal-footer {
    padding: 0.5em;
}
.modal .modal-body {
    padding: 2em;
}
.modal p {
    line-height: 1.5em;
    margin: 0;
}
.search-well form {
    margin: 1em 0 1.5em;
}
.search-well label {
    margin-bottom: 0;
    vertical-align: middle;
}
.toc {
    margin-bottom: 2em;
}
.toc h3 {
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 0;
    padding-top: 0;
}
.toc h4 {
    color: #555;
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.stat-widget-container {
    text-align: center;
}
.stat-widget-container .stat-widget {
    float: left;
    width: 25%;
}
.stat-widget-container .stat-widget .stat-button {
    margin: 2em 1em;
    position: relative;
}
.stat-widget-container .stat-widget .stat-button .title {
    color: #999;
    font-size: 2em;
    font-weight: bold;
}
.stat-widget-container .stat-widget .stat-button .detail {
    color: #555;
    font-size: 1.5em;
}
table.table.list tr:first-child td {
    border-top: 0 none;
}
@media (max-width: 641px) {
.content {
    margin: 0;
}
.sidebar-nav {
    float: none;
    position: relative;
    width: auto;
}
h1 {
    text-align: center;
}
.stats {
    margin-top: 1em;
    text-align: center;
}
.stats .stat {
    display: inline;
    float: none;
}
.stat-widget-container .stat-widget {
    font-size: 0.5em;
}
}
@media (max-width: 900px) {
body.http-error {
    font-size: 0.75em;
}
body.http-error .error-message {
    padding: 0 1em;
}
}
@media (max-width: 851px) {
.stat-widget-container .stat-widget {
    font-size: 0.75em;
}
}
@media (max-width: 767px) {
footer hr {
    margin-left: 0;
    margin-right: 0;
}
}
@media (max-width: 604px) {
body.http-error {
    font-size: 0.5em;
}
}
.profile-data {
    font-size: 13px;
    padding-top: 7px;
}
.profile-data .profile-name b {
    font-size: 14px;
}
.text-primary {
    color: #428bca;
}
.profile-data .profile-email {
    color: #aaaaaa;
    font-size: 12px;
    padding-top: 8px;
}
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
ul.profile-info {
    margin-bottom: 20px;
    margin-top: 10px;
}
ul.profile-info li {
    color: #999999;
    font-size: 13px;
}
.panel-footer {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #dddddd;
    padding: 10px 15px;
}
.console-btn .console-icon {
    display: inline-block;
    font-size: 30px;
    height: 40px;
    vertical-align: top;
}
.console-btn:hover .console-icon {
    color: #d9534f;
}
.console-btn.console-block .console-icon {
    display: block;
    height: auto;
}
.console-btn.console-alt .console-icon {
    font-size: 20px;
}
.console-btn {
    background-color: rgba(248, 248, 248, 0.9);
    background-repeat: repeat-x;
    border-bottom: 1px solid #d2d2d2;
    border-image: none;
    border-radius: 3px;
    border-top: 1px solid #d2d2d2;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 10px 10px 15px;
}
.lite-btn {
    margin-bottom: 20px;
    padding: 10px 10px 10px 15px;
}
.console-btn:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(241, 241, 241, 0.45));
}
.console-btn.console-alt {
    background: transparent none repeat scroll 0 0;
    border-bottom-style: none;
    border-bottom-width: 0;
    border-image: none;
    border-top-style: none;
    border-top-width: 0;
    box-shadow: none;
    padding: 5px 8px;
}
.console-btn .console-title {
    color: #555555;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}
.console-btn.console-alt .console-title {
    font-size: 14px;
}
.row .console-btn {
    margin-bottom: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-2 {
    width: 16.6667%;
}
input.error {
    background: #ffebef url("../img/icon-fail.png") no-repeat scroll right center;
    color: #480000;
}
.help-block {
    display: inline;
    font-size: 85%;
    padding-left: 6px;
}
span.form-error.help-block {
    color: red;
    display: block;
    margin-top: 6px;
    padding-left: 0;
}
input {
    border-bottom: 1px solid #cccccc;
    border-image: none;
    border-radius: 3px;
    border-top: 1px solid #cccccc;
    padding: 3px;
}
input.valid {
    background: #e3ffe5 url("../img/icon-ok.png") no-repeat scroll right center;
    border-bottom-color: #96b796;
    border-top-color: #96b796;
    color: #002f00;
}
.shortcut {
    float: left;
    height: 80px;
    margin: 0 10px 10px 0;
    padding: 12px 9px 9px;
    position: relative;
    text-align: center;
    width: 95px;
}
#content .shortcut {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 1px solid #cccccc;
    border-image: none;
    border-top: 1px solid #cccccc;
}
.shortcut-area {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.shortcut i {
    color: #333333;
    font-size: 36px;
    transition: all 300ms ease 0s;
}
.shortcut:hover i {
    color: #0077b0;
    font-size: 50px;
}
.green {
    background: #09ad30 none repeat scroll 0 0;
}
.s-counts {
    color: #ffffff;
    font-size: 11px;
    line-height: 100%;
    margin: 3px;
    padding: 2px 2px 1px;
    position: absolute;
    right: 0;
    top: 0;
}
.shortcut-area {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.shortcut {
    float: left;
    height: 80px;
    margin: 0 10px 10px 0;
    padding: 12px 9px 9px;
    position: relative;
    text-align: center;
    width: 95px;
}
.shortcut img {
    color: #333;
    font-size: 36px;
    transition: all 300ms ease 0s;
}
.shortcut .title {
    color: #6b6b6b;
    display: block;
    margin-top: 3px;
}
.shortcut:hover .title {
    display: none;
}
.shortcut:hover img {
    color: #0077b0;
    font-size: 50px;
}
.s-counts {
    color: #fff;
    font-size: 11px;
    line-height: 100%;
    margin: 3px;
    padding: 2px 2px 1px;
    position: absolute;
    right: 0;
    top: 0;
}
