	<hr />
	<p class="pull-right">
						Design by <a href="http://www.earthscapeqs.com/" target="_blank"><img src="images/caveman-computer.jpg" height="50px" width="60px" alt="Caveman Solutions"/></a>
					</p><p>

	
						© 2015 <a href="http://www.earthscapeqs.com/" target="_blank">Caveman Solutions</a>
					</p>
	
		 
	

	