<ul id="leftNavigation">
<li class="clickable"><a href="index.php">Home </a></li>
<li ><a href="#"><i class="fa fa-truck leftNavIcon"></i> Ticket Management </a>
        <ul >
           <li class="clickable"><a href="index.php?c=pos">Sales </a>	</li>
            <li class="clickable"><a href="index.php?c=boarding">Boarding </a></li>
            <li class="clickable"><a href="index.php?c=pos">Ticket Search </a></li>
        </ul>
    </li>
<!--<li ><a href="#"><i class="fa fa-truck leftNavIcon"></i>Route Management </a>
        <ul ">
            <li ><a href="index.php?c=route_list"><i class="fa fa-angle-right leftNavIcon"></i>route</a></li>
            <li ><a href="index.php?c=route_new"><i class="fa fa-angle-right leftNavIcon"></i>Add route</a></li>
           
        </ul>
    </li>
 <li ><a href="#"><i class="fa fa-truck leftNavIcon"></i>Station Management </a>
        <ul >
		<li ><a href="index.php?c=station_list"><i class="fa fa-angle-right leftNavIcon"></i>station</a></li>
            <li><a href="index.php?c=station_new"><i class="fa fa-angle-right leftNavIcon"></i>Add station</a></li>
           
        </ul>
    </li>
	
	<li ><a href="#"><i class="fa fa-truck leftNavIcon"></i>User Management</a>
	<ul>
            <li ><a href="index.php?c=users_list"><i class="fa fa-angle-right leftNavIcon"></i>Users</a></li>
            <li ><a href="index.php?c=users_password"><i class="fa fa-angle-right leftNavIcon"></i>Change Password</a></li>
            <li ><a href="index.php?c=users_new"><i class="fa fa-angle-right leftNavIcon"></i>Add user</a></li>
        </ul></li>
	<li ><a href="#"><i class="fa fa-truck leftNavIcon"></i>Reports </a>
        <ul>
            <li ><a href="index.php?c=ticket_sales"><i class="fa fa-angle-right leftNavIcon"></i>Ticket Sales</a></li>
           
        </ul>
    </li>
	<li class="clickable"><a href="index.php?c=pos">POS </a>
        
	</li>
	<li class="clickable"><a href="index.php?c=pos">Boarding </a>
        
	</li>-->
	
	<li class="clickable"><a href="core/do.logout.php">Log out </a>
        
	</li>
</ul>