<div id="box">

		<div id="div_top"></div>
        <div id="div_main">
        <img src="images/logo.jpg" width="128px" height="128px"/>
        	
		<form method="post" action="core/do.login.php" name="formLogin" id="formLogin">
			<div class="fieldbox">
            	<label>Username</label> 
				<input type="text" name="username"  class="destination_input">
			</div>
			<div class="fieldbox">
				<label>Password</label> 
				<input type="password" name="password" class="destination_input">
			</div>
			<div id="check"><input type="checkbox" name="remember" />Remember me</div> <input type="submit" name="submit" class="submit" value="Submit" />
		<span id="loginError">{$loginMessage}</span>
</form>

	</div>
        <div id="div_bottom">
        	<a href="#">Forgot your password?</a>
        </div>
</div>



