		<div id="logo"><img src="images/logo.jpg" height="100px" width="100px" /></div>
     <!--  <div id="top_left">Logged as <strong>{$userdata.username}</strong></div>
        <div id="bottom_left">
        	<div id="account"><img src="images/profile.png" /><a href="#">My Account</a></div>
            <div id="logout"> <img src="images/logout.png"  /><a href="core/do.logout.php">Logout</a></div>
 		 </div>-->
       
        