
	<div class="text">Results: <strong>{$results}</strong> </div>
	{if $pages gt 1}
		
		
		<ul id="pagination-flickr">
		{if $page eq 1}
<li class="previous-off"><< Previous</li>
{else}
<li class="previous"><a href="index.php?c={$_ENGINE.content}&pg={$page-1}"> << Previous </a></li>
{/if}

{section name=index loop=$pageRange}
			{if $pageRange[index] eq $page}
			<li class="active">{$pageRange[index]}</li>
			{else}
			<li><a href="index.php?c={$_ENGINE.content}&pg={$pageRange[index]}">{$pageRange[index]}</a></li>
			{/if}
	    {/section}
		
		{if $page eq $pages}
		<li class="next-off"> Next >></li>
		{else}
	<li class="next"><a href="index.php?c={$_ENGINE.content}&pg={$page+1}"> Next >></a></li>
	{/if}
</ul> 	
	{/if}

		
		
		
		
		
	