<div class="subnav">

        <h2>Applications</h2>

         <ul>

         <li><a href="index.php?c=user_home">Home Page</a></li>

          <li><a href="index.php?c=">Company Management</a></li>

<li><a href="index.php?c=">User Management</a></li>
          <li><a href="index.php?c=rptlist">Reports & Logs</a></li>

		<li><a href="index.php?c=miscellaneous">Miscellaneous Tools</a></li>


		  <li><a href="index.php?c=changepin">Change Pin</a>          </li>

		<li><a href="logout.php">Logout</a></li></ul></div>

    </div>
	
	<!-- *******************Company side bar*********************************** -->
	
	<div class="subnav">

        <h2>Applications</h2>

         <ul>

         <li><a href="index.php?c=user_home">Home Page</a></li>

          <li><a href="index.php?c=">Trip Management</a></li>
		   <li><a href="index.php?c=">Route Management</a></li>
		    <li><a href="index.php?c=">Station Management</a></li>
		   <li><a href="index.php?c=">User Management</a></li>
          <li><a href="index.php?c=rptlist">Reports & Logs</a></li>

		<li><a href="index.php?c=miscellaneous">Miscellaneous Tools</a></li>


		  <li><a href="index.php?c=changepin">Change Pin</a>          </li>

		<li><a href="logout.php">Logout</a></li></ul></div>

    </div>