<div class="postmessage_boxCon">
	<img src="images/stanley.png" class="postimg" />
	<div class="commentItem">
		<div class="dataora">{$data.datetime}</div>
	    <div class="title">
	    	<div class="name">{$data.name} {$data.surname} <img src="images/nigerianflag.jpg" /><img src="images/africaflag.jpg" /></div>
	    </div>
	    <div class="message_text">{$data.message}</div>
	    <a href="#" class="numberofcomments">2 Comments</a>
	    <a href="#" class="comment">Comment</a>
	    <a href="#" class="sendemail">Send email of blessing</a>
	</div>
</div>