<body bgcolor="#008080" link="#FF0000" vlink="#FF0000" alink="#FF0000">


<table>
<br>

<tr><td><div><a href="index.php?c=trip_list" class="list" ><img height="80px" width="80px" src="images/trip.png" /><br>Trip Management</a></div></td>
<td><div><a href="index.php?c=users_list" class="list" ><img height="80px" width="80px" src="images/icons/user-group-icon.png" /><br>User Management</a></div></td>
</tr>
<tr><td><div><a href="index.php?c=route_list" class="list" ><img height="80px" width="80px" src="images/route.png" /><br>Route Management</a></div></td>
<td><div><a href="index.php?c=station_list" class="list" ><img height="80px" width="80px" src="images/station-icon.png" /><br>Station Management</a></div></td></tr>
<tr><td><div><a href="index.php?c=reports_list" class="list" ><img height="80px" width="80px" src="images/reports.png" /><br>Reports</a></div>
<td><div><a href="index.php?c=pos" class="list" ><img height="80px" width="80px" src="images/pos.png" /><br>POS</a></div>
</td></tr>
</table>

</body>