	
	
		
		<form action="index.php?c=manifest" method="post">
		
<h2> Choose seats by clicking the corresponding seat in the layout below:</h2>
<input type="hidden" name="price" value="{$price}"/>
<input type="hidden" name="trip" value="{$trip}"/>
    <div id="holderb"> 
        <ul  id="place">
        </ul>    
    </div>
    <div style="float:left;"> 
    <ul id="seatDescription">
        <li style="background:url('images/available_seat_img.gif') no-repeat scroll 0 0 transparent;">Available Seat</li>
        <li style="background:url('images/booked_seat_img.gif') no-repeat scroll 0 0 transparent;">Booked Seat</li>
        <li style="background:url('images/selected_seat_img.gif') no-repeat scroll 0 0 transparent;">Selected Seat</li>
    </ul>
    </div>
        <div style="clear:both;width:100%">
		
        <input type="button" id="btnShowNew" value="Purchase tickets" />
      <!--  <input type="button" id="btnShow" value="Show All" />  -->         
        </div>
		
		<div class="cost"><>$0.00<></div>
	</form>
		<link rel="stylesheet" type="text/css" href="css/bus.css"></link>
		
		<script type="text/javascript" src="js/bus.js"></script>