<div id="main">
<div id="content">


<table class="table">
	<thead class="header_table">
				<th  colspan="6">{$stationA.station_name} >>>> {$stationB.station_name}</th>
				
			
	</thead>
	<thead class="header_table">
				<th width="2%">Trip ID</th>
				<th  width="15%">Carrier</th>
				<th  width="25%" >Departure</th>
					<th  width="25%" >Arrival</th>
					<th width="10%" >No of Seats </th>
				<th  width="" >Price</th>
				
			
	</thead>
<tbody>
{section name=list loop=$trip}
<tr>

	<td>{$trip[list].id}</td>
	<td>{$trip[list].cname}</td>
	<td>{$trip[list].departure}</td>
	<td>{$trip[list].departure + $trip[list].duration }</td>
	<td><a href="index.php?c=bus&id={$trip[list].id}&p={$trip[list].cost}">{$trip[list].bus_seats}</a></td>
	<td>{$trip[list].cost}</td>
	
	
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}