<div class="col-holder center">
<div class="col-1">	
		<div class="col-1-bot">
			<div class="sub-col-1">
				<div class="top">
					<div class="bot">
						<div class="overlay"></div>
						<table border="0" cellspacing="0" cellpadding="0">
							  <tbody>
								<tr>
									<td valign="middle" align="center" class="big-photo">
									{if  isset($match[list].image) }
							<img  width="62" height="62" alt="{$match[0].t1name} vs {$match[0].t2name}" src="images/$match[0].image" >
							{else}
							<img  class="big-photo" alt="{$match[0].t1name} vs {$match[0].t2name}" src="images/moving ticket.gif" >
							{/if}{if  $match[list].seats_sold ge $match[list].allocatedtickets }
							  <div  id="bar"> <p class ="Sold">Sold Out </p></div>
							  {/if}
									 
									</td>
								</tr>
								</tbody>
						</table>					
					</div>
				</div>
			</div>
			<h2 class="small">event information</h2>
			<div class="sub-col-1 sub-col-info">
				<div class="top">
					<div style="" class="bot event_info">
							<div id="wrap-event-information">
								<p><strong>Event Type: </strong>Sport, Soccer</p>
								<p>{$match[0].t1name} vs {$match[0].t2name}</p>
								<p>{$match[0].description}</p>
							</div>
							<br class="clear">
					</div>			
				</div>
			</div>
		</div>
</div>
		
<div class="col-2">
		<div id="event-summary" {if $seats_sold[0].seats_sold ge $total_seats[0].total_seats}style="display:none;" style=" visibility: hidden;"{/if}>
			
							<table border="0" cellspacing="0" cellpadding="0" class="booking_intermittent">
								<tbody>
										</tr><tr>
	<td colspan="2">
				<label>Select Section</label>
			</td>
</tr>
<tr>
	<td colspan="2">
					<select id="section" name="section"  onchange="price(this.value)">
					<option value="">select a section</option>
					{section name=list loop=$match}
	<option value="{$match[list].id}">{$match[list].name}</option>
	
{/section}		
							</select>
																				</td>
</tr>
	
<tr><td> Price : </td><Td >$<input type="text" id="price" readonly></td></tr>	
			<tr><td> No of Tickets : </td><Td><input type="text" name="numtick" id="numtick" onblur="totalprice(this.value,{$match[0].match_id},{$match[0].id})" ></td></tr>
			<tr><td>Total Amount :</td><Td>$<input type="text" id="totalamount" readonly> </td></tr>
			<tr><td colspan="2" id="image"  style="display:none;" style=" visibility: hidden;" >
			<div id="greylink"></div>
			
			</td>
			
			</tr>
							</tbody>
							</table>
						
							<br class="clear">
					
		</div>
		
		<div class="tab-wrap">
			<div id="tab_detail" class="tab">
				<div class="tab-wrap-in">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="additional-info"><tbody><tr><td>
					<div id="tab_detail_div">
						
<div class="expandable">
<h2>Venues and performances</h2>
	<h4>{$match[0].vname}</h4>
	<p id="occurrence">
			<a href="/web/event/the_fray/812317323/412076216/">{$match[0].match_date}</a><br>
		</p>
</div>

<div class="extra-info">			BOOKING OPENS 09:00 ON FRIDAY 28 MARCH. <b><b><br>
<br>
The Fray is Isaac Slade, Joe King (guitar and vocals), Dave Welsh (guitar) and Ben Wysocki (drums). The Denver based foursome formed in 2002 after high school friends Slade and King bumped into each other at the local guitar shop. The band achieved national success with their first single `Over My Head`, which became a top ten hit in the U.S but the release of their second single `How To Save A Life` brought them into the worldwide spotlight going double platinum and earning a 2010 Grammy nomination for their self titled release. The recently released fourth album `Helios`, was produced by Stuart Price (The Killers, Madonna, Keane) and Ryan Tedder  (Adele and One Republic). The latest single `Love Don`t Die`, received critical acclaim from Billboard Magazine and is currently on the KIA Top 40 on 94.7 Highveld Stereo and 94.5 KFM.	</b></b></div>
				</div>
					</td></tr></tbody></table>
				</div>
			</div>
		</div>
		
	</div>
	</div>
