<table>
<tbody>

<tr>
{section name=list loop=$match}

		<td>
			<div class="box" style="border-bottom:1px solid #e6e6e6; padding-bottom:15px;">
				
					<div class="box-main">
							<a title="{$match[list].name}" href="index.php?c=details&id={$match[list].activityID}" class="pod-thumb"><div class="overlay"></div>
							<div name="img">{if  isset($match[list].image) }
							<img id="bar" width="62" height="62" alt="{$match[list].name}" src="images/{$match[list].image}" >
							{else}
							<img id="bar" width="62" height="62" alt="{$match[list].name}" src="images/tickets.gif" >
							
							{/if}
							{if  $match[list].seats_sold ge $match[list].allocatedtickets }
							  <div  id="bar"> <p class ="Sold">Sold Out </p></div>
							  {/if}
							</div>
							</a>	
							
							<h5 style=""><a id="805413339" title="{$match[list].name} }" href="index.php?c=details&id={$match[list].activityID}">{$match[list].name} </a></h5>
							<p class="event-date" style="">{$match[list].edate}</p>
							<p>{$match[list].vname} </p>
					</div>
					<div class="box-bot">
						<p >
							<span >
								<a  title="{$match[list].catergory}" href="">{$match[list].catergory}</a>
								
							</span>
						 | 
							<a class="genre" title="{$match[list].genre}" href="">{$match[list].genre}</a>
						
						<a class="book place-left" id="805413339" href="index.php?c=details&id={$match[list].activityID}">book</a>
						
		
						<a class="info place-left" id="805413339" href="index.php?c=details&id={$match[list].activityID}">info</a>
						</p>
											
					</div>

			</div>
		</td>

		
		{if $smarty.section.list.iteration is div by  3  }
		</tr><tr>
		{/if}
		{/section}
			
	</tr>
				
</tbody>
</table>