<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Match Management</div>
<a href="#">Table</a>
</div>
<table class="table">
	<thead class="header_table">
				<th  width="2%">Match ID</th>
				<th  width="10%">Venue</th>
				<th  width="54%">Match</th>
				<th  width="8%">Date</th>
				
				<th  width="18%">Ticket Sales</th>
				<th  width="18%">Attendence</th>
			
	</thead>
<tbody>
{section name=list loop=$match}
<tr>

	
	 <td>{$match[list].id}</td>
	 <td>{$match[list].vname}</td>
	<td>{$match[list].t1name} vs {$match[list].t2name}</td>
	<td>{$match[list].match_date}</td>

	<td><a href="index.php?c=seat&m={$match[list].id}">{$match[list].counter}</a></td>
	<td><a href="index.php?c=seat&m={$match[list].id}">{$match[list].attendence}</a></td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}
</div></div>