<link rel="stylesheet" href="css/calendar1.css" type="text/css" />


<table width="100%" border="0" cellspacing="0" cellpadding="0">

<tr>

<td width="10%" align="left">  <div onclick=" return calendar({$prev_month}, {$prev_year}) " style="color:red">Previous</div></td>
<td colspan="7" width="80%" align="center" bgcolor="#999999" style="color:black"><strong>{assign var="months" value=$month-1}{$monthNames[$months]} {$year}</strong></td>
<td width="10%" align="right"><div  onclick=" return calendar({$next_month},{$next_year}) " style="color:red">Next</div>  </td>

</tr>

</table>
	
<table cellpadding="0" align="center" cellspacing="0" class="calendar">

	

	<tr class="calendar-row"><td class="calendar-day-head">Sunday</td><td class="calendar-day-head">Monday</td><td class="calendar-day-head">Tuesday</td><td class="calendar-day-head">Wednesday</td><td class="calendar-day-head">Thursday</td><td class="calendar-day-head">Friday</td><td class="calendar-day-head">Saturday</td></tr>

	
	

	
	<tr class="calendar-row">

{section name=list  loop=$running_day}
	
		<td class="calendar-day-np"> </td>
		{assign var="days_in_this_week" value=$days_in_this_week+1}
	{/section}
	
{section name=list_day  loop=$days_in_month}
	
		<td class="calendar-day">
			
		<!--$weekDay = date('N', mktime(0,0,0,$month,$list_day,$year));-->
		
			
			<div class="day-number">{$smarty.section.list_day.index+1}</div>

			
			<!--$list_date=date(mktime(0,0,0,$month,$list_day,$year));-->
			
			<p> </p>
			
		
			<p> <a href="index.php?c=booking&date='.date(mktime(0,0,0,$month,$list_day,$year)).'" >Available Shows</a> </p>
			
		</td>
		{if $running_day eq 6}
			</tr>
			{if ($day_counter+1) neq $days_in_month}
				<tr class="calendar-row">
			{/if}
			{assign var="running_day" value=-1}
			{assign var="days_in_this_week" value=0}
			
		{/if}
		{assign var="days_in_this_week" value=$days_in_this_week+1}
		{assign var="running_day" value=$running_day+1}
		{assign var="day_counter" value=$day_counter+1}
{/section}

	
	{if $days_in_this_week gt 8}
		<!--for($x = 1; $x <= (8 - $days_in_this_week); $x++):-->
		{section name=foo start=1 loop=8-$days_in_this_week }
			<td class="calendar-day-np"> </td>
		{/section}
	{/if}

	
	</tr>

	
	</table>
	


