<form action="do.manifest.php?trip={$trip}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Add Passengers</legend>
			
	      <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			
			<div class="fieldbox">
			<div class="boxfield">
			<label for="contact_name"> Contact Person:</label> <input type="text" name="contact_name" size="70" value="" required/>
				</div>
				</div>
						
		
			<div  class="fieldbox ">
				<div class="boxfield">
			<label for="address">	Contact Address:</label> <input type="text" name="address" size="70" value="" required/>
				</div>
			</div>
			  <div  class="fieldbox ">
			<div class="boxfield">
				<label for="contact_no">Contact No:</label> <input type="text" name="contact_no" size="70" value="" required/>
			</div>
			  </div>
			  			 <!-- <div  class="fieldbox ">
			<div  class="boxfield">
				Bus seats: <input type="text" name="bus_seats" size="70" value=" " required/>
			</div>
			</div>
						  <div  class="fieldbox ">
			<div  class="boxfield">
				Departure Date: <input type="text" name="departure_date" id="datetimepicker2" value=" " required/>
			</div>
			</div>
						  <div  class="fieldbox ">
			<div  class="boxfield">
		
				Departure Time: <input type="text" name="departure_time" id="datetimepicker1" value=" " required/>
			</div>
		</div>-->
	
	
	
				 <table class="table">
	<thead class="pricing">
	
			<th  >Seat No</th>
				<th >Passenger Name</th>
			
				<th >Age</th>
				
		<th  >Gender</th>
	</thead>
<tbody id="pricing">

{section loop=$seats name=pos }

    
<tr>
<td >{$seats[pos]}
	<input type="hidden" name="seat_no[]" value="{$seats[pos]}"/>
	<input type="hidden" name="seat_no{$seats[pos]}" value="{$seats[pos]}"/>
</td>
<td><input type="text"  name="name[]" value=""></td>
	<td><input type="radio" name="age{$seats[pos]}" value="adult">Adult 
<input type="radio" name="age{$seats[pos]}" value="child">Child</td>
	
	<td><input type="radio" name="sex{$seats[pos]}" value="male">Male 
<input type="radio" name="sex{$seats[pos]}" value="female">Female</td>
<!--	<td><input type="text" name="depature[]" value="{$pro.depature}"  /></td>-->
	
	
</tr>

{/section}

</tbody>

</table>


			
				
			<!-- <input type="button" value="Add" onClick="return newupload()"> -->
			
			 
			
        </fieldset>
	   <div class="boxfield">
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
		</div>
	</div>
</form>

