

<form action="index.php?c=list" method="post" enctype="multipart/form-data">
<div class="clearfix topPart">	
<section class="LB XXCN  P20" id="Search">
		<h2 >Online Bus Tickets Booking </h2>
		<div class="searchRow clearfix">
			<div class="LB">
				<label class="inputLabel">From</label>
				<input type="text" data-message="Please enter a source city|Invalid City" data-validate="required|validSource" tabindex="1" placeholder="Enter a city" class="XXinput" autocomplete="off" id="txtSource" required>
				<input type="hidden" name="stationA"  id="Source">
				<div class="errorMessageFixed"> </div>
			</div>
			
			<div class="searchRight retJouney">
				<label class="inputLabel">To</label>
				<input type="text" data-message="Please enter a destination city|Invalid City" data-validate="required|validDestination" tabindex="2" placeholder="Enter a city" class="XXinput" autocomplete="off" id="txtDestination" required>
				<input type="hidden" name="stationB"  id="Destination">
				<div class="errorMessageFixed"> </div>               
			</div>
		</div>
		<div class="searchRow clearfix">
			<div class="LB">
				<label class="inputLabel">Date of Journey</label>
				<span class="blackTextSmall"></span>
				<input type="text" readonly="readonly" tabindex="3" title="Date in the format dd/mm/yyyy" placeholder="dd/mm/yyyy" class="XXinput calendar" id="txtOnwardCalendar" name="dday" required>
			</div>               
			<div class="searchRight retJouney">
				<label class="inputLabel">Date of Return<span class="opt">&nbsp;(Optional)</span></label>
				<input type="text" readonly="readonly" tabindex="4" title="Date in the format dd/mm/yyyy" placeholder="dd/mm/yyyy" class="XXinput calendar" id="txtReturnCalendar" name="rday">
			</div>    
		</div> 

		<div class="dateError">Onward date should be before return date</div>
		<div class="buttonContainer">
			<button tabindex="6" id="searchBtn" class="RB Xbutton">Search Buses</button>
		</div>
</section>
<aside class="RB aWrapper">
<img class="top-a" width="300" height="300" src="images/map-of-zimbabwe.gif" alt="campaign">
</aside>

</div>
</form>

