<form action="do.payment.php?trip={$trip}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Add Passengers</legend>
			
	      <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			<input type="hidden" name="ref"  value="{$ref}" />
			<div class="fieldbox">
			<div class="boxfield">
			<label for="contact_name"> Cash:</label> <input type="radio" name="payment_type" size="70" value="cash" />
				</div>
				</div>
						
		
			<div  class="fieldbox ">
				<div class="boxfield">
			<label for="address">	Card:</label> <input type="radio" name="payment_type" size="70" value="Card" />
				</div>
			</div>
			  <div  class="fieldbox ">
			<div class="boxfield">
				<label for="contact_no">Ecocash:</label> <input type="radio" name="payment_type" size="70" value="Ecocash" />
			</div>
			  </div>
<div class="boxfield">
				<label for="amount">Amount:</label> <input type="text" name="amount" size="70" value="{$amount}" />
			</div>
			  </div>
			
			 
			
        </fieldset>
	   <div class="boxfield">
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
		</div>
	</div>
</form>

