<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Match Management</div>
<a href="#">Table</a>
</div>
<form action="do.pos.php?id={$match[0].id}" method="post" enctype="multipart/form-data">
<table class="table">
	<thead class="header_table">
			
				<th  width="2%">Match ID</th>
				<th  width="64%">Match</th>
				<th  width="64%">Venue</th>
				<th  width="8%">Date</th>
				<th  width="8%">Time</th>
				
			
	</thead>
<tbody>
{section name=list loop=$match}
<tr class="game" id="{$match[list].id}">

	<td>{$match[list].id}</td>
	<td>{$match[list].t1name} vs {$match[list].t2name}</td>
	<td>{$match[list].vname}</td>
	<td>{$match[list].match_date}</td>
	<td>{$match[list].match_time}</td>
	
</tr>
{/section}
</tbody>

</table>
	
</form>
{include file='box/pagination.htm'}
</div></div>