
<form action="do.route.php?id={$route[0].id}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Route</legend>
			
	        <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			
			<div class="boxfield">
			 	<label for="code">Code:</label> <input type="text" name="code" size="70" value="{$route[0].code}" required/>
				
			 </div>
			
			<div class="boxfield">
<label for="stationA">Departure Station:</label> 
				
				<select  NAME="stationA" width="700" required>
					<option VALUE="">----</option>
					{section name=list loop=$station}
{if $station[list].id eq $route[0].stationA}
<option VALUE="{$station[list].id}" selected >{$station[list].station_name}</option>
{else}
					<option VALUE="{$station[list].id}">{$station[list].station_name}</option>
					{/if}
					{/section}
				</select>

			</div>
			
				
			<div class="boxfield">
				<label for="stationB">Arrival Station:</label> 
				
				<select  NAME="stationB" width="700" required>
					<option VALUE="">----</option>
					{section name=list loop=$station}
{if $station[list].id eq $route[0].stationB}
<option VALUE="{$station[list].id}" selected >{$station[list].station_name}</option>
{else}
					<option VALUE="{$station[list].id}">{$station[list].station_name}</option>
					{/if}
					{/section}
				</select>

			</div>
		
			
			<div class="boxfield">
				<label for="cost">Cost:</label>  <input type="text" name="cost" size="70" value="{$route[0].cost}" required/>
			</div>
			
			<div class="boxfield">
				<label for="duration">Duration:</label>  <input type="text" name="duration" size="70" value="{$route[0].duration}" required/>  (in Minutes)
			</div>
			
			
			<div class="boxfield">
			 	
				<input type="checkbox" name ="has_subroutes" id="chkbox" {if $route[0].has_subroutes eq 1} checked{/if} >Sub routes
			 </div>
			  
			 {if $route[0].has_subroutes eq 0 || $op eq I} 
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
			{/if}
				<!--<div class="boxfield">
				Sub Route:
				
				<select  NAME="subroute" width="700" >
					<option VALUE="">----</option>
					{section name=list loop=$sroute}
						{if $sroute[list].id eq $sroute[0].code}
							<option VALUE="{$sroute[list].id}" selected >{$sroute[list].code}</option>
						{else}
						<option VALUE="{$sroute[list].id}">{$sroute[list].code}</option>
						{/if}
					{/section}
				</select>

			</div>-->
			<div class="boxfield">
				 <table class="table">
	<thead class="pricing">
				<th  width="50%">Route</th>
			
			<!--	<th  width="10%">Price</th>
				
			<th  width="10%">No of Seats</th>-->
	</thead>
<tbody id="pricing">
{if $op eq I}
<tr>

	<td>
				
				<select  NAME="route[]" width="700" >
					<option VALUE="">----</option>
					{section name=list loop=$sroute}
						{if $sroute[list].id eq $route[0].code}
							<option VALUE="{$route[list].id}" selected >{$sroute[list].code}</option>
						{else}
						<option VALUE="{$sroute[list].id}">{$sroute[list].code}</option>
						{/if}
					{/section}
				</select>
	</td>
	
	<td><input type="text" name="price[]" value="{$seats[list].price}" required /></td>
	<!--<td><input type="text" name="allocation[]" value="{$seats[list].allocation}" required /></td>-->
	
	
</tr>
{/if}

{section name=lista loop=$subroute}
<tr>

	<td>
				
				<select  NAME="route[]" width="700" >
					<option VALUE="">----</option>
					{section name=list loop=$sroute}
						{if $sroute[list].id eq $subroute[lista].subroute}
							<option VALUE="{$sroute[list].id}" selected >{$sroute[list].code}</option>
						{else}
						<option VALUE="{$sroute[list].id}">{$sroute[list].code}</option>
						{/if}
					{/section}
				</select>
	</td>
	
	<!--<td><input type="text" name="price[]" value="{$subroute[list].price}" required /></td>
	<td><input type="text" name="allocation[]" value="{$seats[list].allocation}" required /></td>-->
	
	
</tr>
{/section}

</tbody>

</table>
		
				
			 <input type="button" value="Add" onClick="return newupload()"> 
			 </div>
			 {if $route[0].has_subroutes eq 0 || $op eq I}
			</div>
			{/if}
        </fieldset>
	
	   
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="route_list.php" />
	</div>
</form>


