<div id="main">
<div id="content">

<table class="table">
	<thead class="header_table">
				<th  width="5%">Route ID</th>
				<th  width="10%">Code</th>
				<th  width="60%">Route</th>
				<th  width="10%">Cost</th>
				<th  width="15%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$route}
<tr>

	<td>{$route[list].id}</td>
	<td>{$route[list].code}</td>
	<td>{$route[list].sa_name} to {$route[list].sb_name}</td>
	<td>{$route[list].cost}</td>
	<td>
		<a href="do.route.php?op=D&id={$route[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=route_edit&id={$route[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.route.php?op=S&id={$route[list].id}" ><img src="images/icons/status{$route[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}
</div></div>