<!--<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Ticket Sale ( {$match[0].t1name} vs {$match[0].t2name})</div>
<a href="#">Table</a>
</div>
<form action="do.sale.php?id={$match[list].match_id}" method="post" enctype="multipart/form-data">
   <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
<table class="table">
	<thead class="header_table">
				<th  width="2%"></th>
				<th  width="2%">Ticket Type </th>
				<th  width="64%">Match</th>
				<th  width="8%">Price</th>
				
				
			
	</thead>
<tbody>
{$count++}
{section name=list loop=$match}
<tr>
<td><input type='radio' name='id' value="{$count++}"/></td>
	<td>{$match[list].name}<input type='hidden' name='section[]' value="{$match[list].id}"/></td>
	<td>{$match[list].t1name} vs {$match[list].t2name} {$match[list].match_date} {$match[list].match_time}<input type='hidden' name='match_id' value="{$match[list].match_id}"/></td>
	<td>{$match[list].price}<input type='hidden' name='amount[]' value="{$match[list].price}"/></td>
</tr>

{/section}
</tbody>

</table>
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="pos.php" />
</form>
{include file='box/pagination.htm'}
</div></div>-->



<form action="index.php?c=list" method="post" enctype="multipart/form-data">
<div class="clearfix topPart">	

		<h2 >Online Bus Tickets Booking </h2>
		<div class="searchRow clearfix">
			<div class="LB">
				<label class="inputLabel">From</label>
				<input type="text" data-message="Please enter a source city|Invalid City" data-validate="required|validSource" tabindex="1" placeholder="Enter a city" class="XXinput" autocomplete="off" id="txtSource">
				<input type="hidden" name="stationA"  id="Source">
				<div class="errorMessageFixed"> </div>
			</div>
			
			<div class="searchRight retJouney">
				<label class="inputLabel">To</label>
				<input type="text" data-message="Please enter a destination city|Invalid City" data-validate="required|validDestination" tabindex="2" placeholder="Enter a city" class="XXinput" autocomplete="off" id="txtDestination">
				<input type="hidden" name="stationB"  id="Destination">
				<div class="errorMessageFixed"> </div>               
			</div>
		</div>
		<div class="searchRow clearfix">
			<div class="LB">
				<label class="inputLabel">Date of Journey</label>
				<span class="blackTextSmall"></span>
				<input type="text" readonly="readonly" tabindex="3" title="Date in the format dd-mmm-yyyy" placeholder="dd-mmm-yyyy" class="XXinput calendar" id="txtOnwardCalendar">
			</div>               
			<div class="searchRight retJouney">
				<label class="inputLabel">Date of Return<span class="opt">&nbsp;(Optional)</span></label>
				<input type="text" readonly="readonly" tabindex="4" title="Date in the format dd-mmm-yyyy" placeholder="dd-mmm-yyyy" class="XXinput calendar" id="txtReturnCalendar">
			</div>    
		</div> 

		<div class="dateError">Onward date should be before return date</div>
		<div class="buttonContainer">
			<button tabindex="6" id="searchBtn" class="RB Xbutton">Search Buses</button>
		</div>


</div>
</form>
