<form action="checkin.php?m=3" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Barcode</legend>
			
	       
			
			<div class="boxfield">
			 	Ticket No: <input type="text" name="tn" size="70" value="" required/>
				
			 </div>
			 
		
		
        </fieldset>
		<br/>
	   <div class="break">
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
	</div>	
	</div>
</form>

