<div id="main">
<div id="content">
<div id="top_con"><div id="page_title"> Match Management</div>
<a href="#">Table</a>
</div>
<table class="table">
	<thead class="header_table">
				<th  width="2%">Match ID</th>
				<th  width="10%">Venue</th>
				<th  width="54%">Match</th>
				<th  width="8%">Date</th>
				<th  width="8%">Section</th>
				<th  width="18%">Ticket Sales</th>
				<th  width="18%">Ticket Price</th>
				<th  width="18%">Total Cost</th>
			
	</thead>
<tbody>
{section name=list loop=$match}
<tr>

	
	 <td>{$match[list].id}</td>
	 <td>{$match[list].vname}</td>
	<td>{$match[list].t1name} vs {$match[list].t2name}</td>
	<td>{$match[list].match_date}</td>
<td>{$match[list].section}</td>
	<td>{$match[list].counter}</td>
	<td>${$match[list].amount}</td>
	<td>${$match[list].total_charge}</td>
</tr>
{/section}
</tbody>
<tfoot>
<tr>

	 <td></td>
	 <td></td>
	<td></td>
	<td></td>
<td></td>
	<td></td>
	<th>Total</th>
	<th>${$totalcost[0].sumcost}</th>
</tr>
</tfoot>
</table>

{include file='box/pagination.htm'}
</div></div>