 <form action="do.station.php?id={$station[0].id}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Station</legend>
			
	        <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			
			<!--<div class="boxfield">
			 	Name: <input type="text" name="station_name" size="70" value="{$station[0].station_name}" required/>
				<input type="checkbox" id="chkbox" >Image
			 </div>
			 
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
				Image:<input type="file" name="station_image" size="70"> 
			</div>-->
		
			<div  class="boxfield">
				<label for="address">Address: </label><input type="text" name="address" size="70" value="{$station[0].address}" required/>
			</div>
			  
			<div class="boxfield">
				<label for="telephone">Telephone:</label> <input type="text" name="telephone" size="70" value="{$station[0].telephone}" required/>
			</div>
			  
			<div  class="boxfield">
				<label for="email">Email:</label> <input type="text" name="email" size="70" value="{$station[0].email} " required/>
			</div>
		
        </fieldset>
	   
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
	</div>
</form>

