<div id="main">
<div id="content">

<table class="table">
	<thead class="header_table">
				<th  width="2%">Station ID</th>
				<th  width="20%">Name</th>
				<th  width="60%">Address</th>
				<th  width="18%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$station}
<tr>

	<td>{$station[list].id}</td>
	<td>{$station[list].station_name}</td>
	<td>{$station[list].address}</td>
	<td>
		<a href="do.station.php?op=D&id={$station[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=station_edit&id={$station[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.station.php?op=S&id={$station[list].id}" /><img src="images/icons/status{$station[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}