<form action="do.trip.php?id={$trip[0].id}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Trip</legend>
			
	        <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			
			<div class="fieldbox">
			<div class="boxfield">
			 	<label for="name"> Name:</label> <input type="text" name="name" size="70" value="{$trip[0].name}" required/>
				</div>
				</div>
						
		
			<div  class="fieldbox ">
				<div class="boxfield">
				<label for="driver"> Driver:</label> <input type="text" name="driver" size="70" value="{$trip[0].driver}" required/>
				</div>
			</div>
			  <div  class="fieldbox ">
			<div class="boxfield">
				<label for="bus_no">Bus No:</label> <input type="text" name="bus_no" size="70" value="{$trip[0].bus_no}" required/>
			</div>
			  </div>
			  			  <div  class="fieldbox ">
			<div  class="boxfield">
				<label for="bus_seats">Bus seats:</label> <input type="text" name="bus_seats" size="70" value="{$trip[0].bus_seats} " required/>
			</div>
			</div>
						  <div  class="fieldbox ">
			<div  class="boxfield">
				<label for="departure_date">Departure Date:</label> <input type="text" name="departure_date" id="datetimepicker2" value="{$trip[0].departure_date} " required/>
			</div>
			</div>
						  <div  class="fieldbox ">
			<div  class="boxfield">
			<!--Time: <input id="datetimepicker1" type="text" name="departure_time"  value="{$match[0].match_time} " required/>-->
<label for="departure_time">Departure Time:</label> <input type="text" name="departure_time" id="datetimepicker1" value="{$trip[0].departure_time} " required/>
			</div>
		</div>
		<table>
		<tr>
<td></td>
	<td>
			Main Route :	
			{if $op eq I} 
				<select  NAME="route" width="700"   onchange="showUser(this.value)" >
					<option VALUE="">----</option>
					{section name=list loop=$route}
						{if $route[list].id eq $trip[0].route}
							<option VALUE="{$route[list].id}" selected >{$route[list].code}</option>
						{else}
						<option VALUE="{$route[list].id}">{$route[list].code}</option>
						{/if}
					{/section}
				</select>
				{/if}
				{if $op eq U}
				
					{section name=list loop=$route}
						{if $route[list].id eq $trip[0].route}
							<input type="text" VALUE="{$route[list].code}" readonly/>
						
						{/if}
					{/section}
				{/if}
	</td>
	
	<td> Price :<input type="text" name="price" value="{$trip[0].cost}" required /></td>
	<td id="check" style="display: none;" style=" visibility: hidden;"><input type="checkbox" id="chkbox" name="withS" {if $trip[0].withSubRoute eq 1} checked{/if}> With Sub Routes?</td>
	
	
</tr>
		</table>
		
		
		
		<!--<div class="boxfield">
				<input type="checkbox" id="chkbox" name="withS" {if $trip[0].withSubRoute eq 1} checked{/if}> With Sub Routes?
				</div>-->
		
		 {if $trip[0].withSubRoute eq 0 || $op eq I} 
			<div id="image"  style="display: none;" style=" visibility: hidden;" class="boxfield">
			{/if}
		
		<div class="boxfield">
				 <table class="table">
	<thead class="pricing">
	
			<th  width="10%"></th>
			<th  width="50%">Route</th>
			<th  width="10%">Price</th>
			<th  width="10%">Departure Time</th>
	</thead>
<tbody id="pricing">



    {$pro_key}: {$pro.code} <br />
{assign var = count value = 0}
{foreach from=$sroute item=pro key=pro_key}
<tr>
<td >{$count}</td>
<td><input type="checkbox" id="chkbox" name="selector[]" value="{$count++}" {if $pro.id eq $trip[0].code} checked{/if}></td>
	<td>
	<input type="text"  value="{$pro.code}" readonly />
				<input type="hidden" name="subroute[]" value="{$pro.id}" readonly />
				
	</td>
	
	<td><input type="text" name="cost[]" value="{$pro.price}"  /></td>
	<td><input type="text" name="depature[]" value="{$pro.depature}"  /></td>
	
	
</tr>

{/foreach}

</tbody>

</table>


			
				
			<!-- <input type="button" value="Add" onClick="return newupload()"> -->
			
			 </div>
			  {if $trip[0].withSubRoute eq 0 || $op eq I} 
			</div>
			{/if}
        </fieldset>
		
	   <div class="boxfield">
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
		
		
	    <input type="button" value="Cancel" class="serviceCan row_bt " href="question_list.php" />
		</div>
	</div>
</form>
<script>
{literal}
function showUser(str) {
    if (str == "") {
        document.getElementById("pricing").innerHTML = "";
		 document.getElementById("check").style.display = "none";
        return;
    } else {
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else {
            // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("pricing").innerHTML = xmlhttp.responseText;
				if(xmlhttp.responseText=="<tr><td colspan='3'>No sub routes on this route</td></tr>")
				document.getElementById("check").style.display = "none";
				else
				document.getElementById("check").style.display = "block";
            }
        }
        xmlhttp.open("GET","getroutes.php?q="+str,true);
        xmlhttp.send();
    }
}
{/literal}
</script>
