<div id="main">
<div id="content">

<table class="table">
	<thead class="header_table">
				<th  width="2%">Trip ID</th>
				<th  width="40%">Name</th>
				<th  width="40%">Route</th>
				<th  width="18%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$trip}
<tr>

	<td>{$trip[list].id}</td>
	<td>{$trip[list].name}</td>
	<td>{$trip[list].route}</td>
	<td>
		<a href="do.trip.php?op=D&id={$trip[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=trip_edit&id={$trip[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.trip.php?op=S&id={$trip[list].id}" /><img src="images/icons/status{$trip[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}