<form action="do.user.php?id={$users[0].id}" method="post" enctype="multipart/form-data">
	<div id="content">
	
        <fieldset >
		
			<legend>Users</legend>
			
	        <input type="hidden" name="op"  value="{$_ENGINE.operation}" />
			
			<div class="boxfield">
			 	<label for="name">Name:</label> <input type="text" name="name" size="70" value="{$users[0].name}" required/>
				
			 </div>
			 
			<div class="boxfield">
				<label for="username">Username:</label><input type="text" name="username" size="70" value="{$users[0].username}" required/> 
			</div>
		{if $_ENGINE.operation eq I}
			<div  class="boxfield">
				<label for="user_password">Password:</label> <input type="password" name="user_password" size="70" value="{$users[0].user_password}" required/>
			</div>
			  {/if}
			<div class="boxfield">
				<label for="email">Email:</label> <input type="text" name="email" size="70" value="{$users[0].email}" required/>
			</div>
			  
			<div  class="boxfield">
				<label for="profile">Profile:</label> <select  name="profile" >
				<option >Select a profile</option>
				<option value="A" {if $users[0].profile eq A} selected {/if}>Administrator</option>
				<option value="T" {if $users[0].profile eq T} {if $users[0].tv eq T}selected {/if} {/if}>Team Administrator</option>
				<option value="T" {if $users[0].profile eq T} {if $users[0].tv eq V}selected {/if}{/if}>Venue Administrator</option>
				<option value="P" {if $users[0].profile eq P} selected {/if}>Teller</option>
				<option value="G" {if $users[0].profile eq G} selected {/if}>Gate </option>
				</select>
			</div>
			
	<!--	<div class="boxfield">
		
				<input type="radio" id="chkbox" name="profile" {if $users[0].tv eq T} checked{/if}>Team
				<input type="radio" id="chkbox" name="profile" {if $users[0].tv eq V} checked{/if}>Venue
				
			 </div>
			 
			<div id="image"  style="display:{if $users[0].tv eq T} block{else} none{/if};" style=" visibility: hidden;" class="boxfield">
			<div  class="boxfield">
				<label for="team1">Team :</label> <select  NAME="team1" required>
					<option VALUE="">----</option>
					{section name=list loop=$teams}

					{if $teams[list].id eq $users[0].tvid}
<option VALUE="{$team[list].id}" selected >{$teams[list].name}</option>
{else}

					<option VALUE="{$team[list].id}">{$teams[list].name}</option>
					{/if}
					{/section}
				</select>
			</div>
			
			<img src="images/logos/{$team[0].id}logo.jpg" alt="logo" height="42" width="42"> 
				<label for="team_image">Image:</label><input type="file" name="team_image" size="70"> 
				
			</div>
			
			
			<div id="image"  style="display:{if $users[0].tv eq V} block{else} none{/if};" style=" visibility: hidden;" class="boxfield">
			<div class="boxfield">
				<label for="venue">Venue:</label>
				
				<select  NAME="venue" required>
					<option VALUE="">----</option>
					{section name=list loop=$venue}
{if $venue[list].id eq $match[0].venue}
<option VALUE="{$venue[list].id}" selected >{$venue[list].name}</option>
{else}
					<option VALUE="{$venue[list].id}">{$venue[list].name}</option>
					{/if}
					{/section}
				</select>

			</div>
			-->
				
			</div>
        </fieldset>
	   
		<input type="submit" value="Confirm" class="serviceSub row_btn"/>
	    <input type="button" value="Cancel" class="serviceCan row_bt" href="question_list.php" />
	</div>
</form>

