<div id="main">
<div id="content">

<table class="table">
	<thead class="header_table">
				<th  width="40%">Name</th>
				<th  width="40%">Email</th>
				<th  width="2%">Profile</th>
				<th  width="18%">Action</th>
			
	</thead>
<tbody>
{section name=list loop=$users}
<tr>

	<td>{$users[list].name}</td>
	<td>{$users[list].email}</td>
	<td>{$users[list].profile}</td>
	<td>
		<a href="do.users.php?op=D&id={$users[list].id}" onclick="return confirm('Are you sure you want to delete this record? ');"/><img src="images/icons/delete.png" /></a>
		<a href="index.php?c=users_edit&id={$users[list].id}" /><img src="images/icons/edit.png" /></a>
		<a href="do.users.php?op=S&id={$users[list].id}" /><img src="images/icons/status{$users[list].active}.png" />
		</a>
	</td>
</tr>
{/section}
</tbody>

</table>

{include file='box/pagination.htm'}