Dear $$NAME$$
The Kiwindow team is joining the man of God to congratulate you, on your salvation. You are now a child of God, to grow keep following the man on Kiwindow and get yourself to the nearest living church of Jesus Christ in your locality.<br />
<br />
God bless you.<br />
With love from Kiwindow Team International<br />